<% content_for :title, 'Terms and Conditions' %>
<main class="registration single-col toc">
  <section>
    <article>
      <%= render 'terms_and_conditions_text' %>
    </article>
  </section>
</main>
