<p class="slack">
  <strong>
    <%= fa_icon('slack', type: :brand) %>
  </strong>
  <% if user_signed_in? %>
    <% if current_user.profile.slack_access_token.present? %>
      <%= link_to 'Open a Slack Chat with this User', profile_slack_chat_url(@profile) %>
    <% else %>
      <%= link_to 'Link up your Slack Account to chat with this User', edit_profile_path(current_user.profile) %>
    <% end %>
  <% else %>
    <p>Log In to Contact this User via Slack</p>
  <% end %>
</p>
