%p Want a winning edge or perhaps you are intrigued and want to find out what GovHack is all about?
%p The local GovHack team will give you an overview of the competition and answer any questions you may have. Learn more about official events in your region and all about youth, maker or special interest themed nodes.
%p The best teams have a mix of skills, and this event is a great opportunity to find a team to join. Many new friendships are formed at GovHack and this is the perfect place for you to meet like minded people.
%p Data Mentors will be in attendance to share their knowledge of open government data and to provide insight that could help incubate ideas to pursue during the competition.
%p Tech savvy mentors may even be available to share some tips and tricks to help you create winning concepts.
