<% content_for :title, 'Connections' %>
<main class="events_page">
  <section class="events_row">
    <div class="menu_col">
      <h2>Connection Events</h2>
      <%= render 'connection_description' %>
      <%= link_to 'Back to Events', events_path, class: 'blue-button' %>
    </div>
    <div class="contents">
      <%= render partial: 'events/event_collection', locals: { events: @future_connections, title: 'Upcoming Connection Events' } %>
    <%= render partial: 'events/event_collection', locals: { events: @past_connections, title: 'Past Connection Events' } %>
    </div>
  </section>
</main>
