- content_for :title, 'Connections'
%main.events_page
  %section.header
    %h2 Connection Events
    = render 'connection_description'
  %section
    = render partial: 'events/event_collection', locals: { events: @future_connections, title: 'Upcoming Connection Events' }
    = render partial: 'events/event_collection', locals: { events: @past_connections, title: 'Past Connection Events' }
    %p= link_to 'All Events', events_path
  %main
