<main class="events_page">
  <section class="info">
    <h2>Connection Events</h2>
    <%= render 'connection_description' %>
  </section>

  <%= render partial: 'events/event_collection', locals: { events: @future_connections, title: 'Upcoming Connection Events' } %>
  <%= render partial: 'events/event_collection', locals: { events: @past_connections, title: 'Past Connection Events' } %>

  <p><%= link_to 'All Events', events_path %></p>
<main>
