<h2>Data Sets for <% @team.name %></h2>

<% if @team_data_sets.present? %>

  <% @team_data_sets.each do |team_data_set| %>
    <%= render 'teams/team_data_set', locals: { data_set: team_data_set } %>
    <%= link_to 'Update Data Set', edit_team_management_team_team_data_set_path(@team, team_data_set) %><br>
  <% end %>

<% else %>
  <div>Your team does not currently have any data sets.</div>
<% end %>

<%= link_to 'Add New Data Set', new_team_management_team_team_data_set_path(@team) %><br>
<%= link_to 'Back to Team', team_management_team_path(@team) %>
