<div class="status">
    <ul style="display: flex; list-style-type: none;">
        <li style="text-decoration: <%= 'underline' if page == 'sign_up' %>;">1. Account Registration </li>
        <li style="text-decoration: <%= 'underline' if page == 'terms_and_conditions' %>;">2. Terms and Conditions</li>
        <li style="text-decoration: <%= 'underline' if page == 'complete_registration' %>;">3. Complete Registration </li>
        <li style="text-decoration: <%= 'underline' if page == 'demographics' %>;">4. Demographics Survey </li>
    </ul>
</div>