%main.team_page
  %section
    %h2= "Edit Checkpoint for Competition #{@competition.year}"
    = render 'form'
    %p= link_to 'Back to Competition Checkpoints', admin_competition_checkpoints_path(@competition)