
<table>
  <tr>
    <th>Challenges</th>
    <% @event_names.each do |event_name| %>
      <th><%= event_name %></th>
    <% end %>
  </tr>
  <% @challenge_names.each do |challenge_name| %>
    <tr>
      <th><%= challenge_name %></th>
      <% @event_names.each do |event_name| %>
        <td><%= @event_counts[challenge_name][event_name] %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= javascript_tag  "window._region_counts = #{@event_counts.to_json}" %>
