- content_for :title, "New Badge for #{@competition.name}"
%main.team_page
  %section.team_page_body
    %h2= yield :title
    = render 'form'
    %p= link_to 'Back to Competition Badges', admin_competition_badges_path(@competition)
