<% content_for :title, "New Mail Order for #{@event.name}" %>
<main class="team_page">
  <h2>
    <%= yield :title %>
  </h2>
  <%= render 'form' %>
</main>
<%= link_to "Back to #{@event.name} Mail Orders", admin_event_bulk_mails_path(@event) %>
