<main class="index_page">
	<h2>Welcome to GovHack <%= @competition.year %> Hackerspace</h2>
	<nav>
		<section>
			<% if @competition.connections.present? %>
				<div><%= link_to 'Connection Events', connections_path %></div>
			<% end %>
		</section>
	</nav>
</main>
