<p>Hello <%= @user.display_name %>!</p>

<p>
  A space has opened up for the event <%= @event.name %> <%= @region.name %>.
</p>
<p>
  You are now registered as attending.
</p>
<p>
  If you no longer wish to attend, or need to update dietary requirements and
   other personal information, please visit the event page (link below).
</p>
<p>
  <%= link_to "#{@event.name} Event Page", event_url(@event.identifier) %>
</p>
