@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
ul {
  list-style: none;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  background-color: #eee;
  color: #626262;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #424242;
}

h2 {
  margin-bottom: 1%;
}

main > h2:first-child {
  display: block;
  background-color: #4c9ad2;
  padding: 5rem;
  color: white;
  text-align: center;
}
.main-content-header {
  display: block;
  background-color: #4c9ad2;
  padding: 5rem;
  align-content: center;
  h1 {
    font-size: 2em;
    color: white;
    text-align: center;
  }
}

footer {
	margin-top: auto;
	justify-content: center;
	text-align: center;
	font-size: 10px;
}
