@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  background-color: #eee;
  color: #626262;
}

h1, h2, h3, h4, h5, h6 {
  color: #424242;
}

h2 {
  margin-bottom: 1%;
}
