/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-device-width: 320px) and (min-width : 320px) {
  .challenge_index {
    padding: 2em 1em;

    h2 {
      color: #4c9ad2;
      font-size: 1.5em;
    }

    h3.challenge-views {
      display: none;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-device-width: 480px) and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .challenge_index {
    padding: 2em 5em;

    h2 {
      font-size: 2em;
    }

    h3.challenge-views {
      display: block;
      font-size: 1.5em;
      padding: 1em;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
