.events_page {
  section {
    &.events_row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      gap: 4em;

      .menu_col {
        display: flex;
        flex-direction: column;
        width: 100%;

        .menu_section {
          padding: 2em;
        }

        p {
          margin-top: 0.5em;
          font-size: 1.25em;
          text-align: left;
          color: #000;
          width: 100%;
          margin: 5px 0px;
        }

      }
      .contents {
        display: flex;
        flex-direction: column;
        width: 100%;

        .tile_wrapper {
          padding: 2em;
        }
      }
      .grey-line {
        width: 90%;
        margin: 0 auto;
        border: 1px solid #F4F4F4;
      }
    }

    &.info p {
      margin-top: 0.5em;
      font-size: 1.25em;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .events_page {
    section {
      &.events_row {
        flex-direction: column;
        flex-wrap: wrap;

        .menu_col {
          display: flex;
          flex-direction: column;
          width: 100%;

          p {
            margin-top: 0.5em;
            font-size: 1.25em;
            text-align: left;
            color: #000;
            width: 100%;
            margin: 5px 0px;
          }

        }
        .contents {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        .grey-line {
          width: 90%;
          margin: 0 auto;
          border: 1px solid #F4F4F4;
        }
      }

      &.info p {
        margin-top: 0.5em;
        font-size: 1.25em;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .events_page {
    section {
      &.events_row {
        flex-direction: row;
        flex-wrap: nowrap;

        .menu_col {
          display: flex;
          flex-direction: column;
          width: 30%;

          .menu_section {
            margin: 10px 0px;
            padding: 0;
          }

          p {
            margin-top: 0.5em;
            font-size: 1.25em;
            text-align: left;
            color: #000;
            width: 100%;
            margin: 5px 0px;
          }

        }
        .contents {
          display: flex;
          flex-direction: column;
          width: 70%;
        }
      }

      &.info p {
        margin-top: 0.5em;
        font-size: 1.25em;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .events_page {
    section {
      &.events_row {
        flex-direction: row;
        flex-wrap: nowrap;

        .menu_col {
          display: flex;
          flex-direction: column;
          width: 20%;

          .menu_section {
            margin: 10px 0px;
            padding: 0;
          }

          p {
            font-size: 20px;
            line-height: 30px;
            color: #000000;
          }

          .grey-line {
            width: 90%;
            margin: 0 auto;
            border: 1px solid #F4F4F4;
          }

        }
        .contents {
          display: flex;
          flex-direction: column;
          width: 80%;
        }

        .subtitle {
          font-size: 30px;
          line-height: 30px;
          color: var(--primary);
        }
      }

      &.info p {
        margin-top: 0.5em;
        font-size: 1.25em;
      }
    }
  }

}
