.events_page {
  padding: 2em 5em;

  h2 {
    color: #4c9ad2;
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  > {
    section > h3, h3 {
      margin-top: 1em;
      margin-left: 1em;
      color: #ca1e56;
    }
  }

  section {
    &.info p {
      margin-top: 0.5em;
      font-size: 1.25em;
    }
  }

  > section {
    padding: 2em 2em;
  }
}

@media only screen and (max-width: 900px) {
  .events_page {
    padding: 1em 1em;

    > section {
      padding: .5em .5em;
    }
  }
}
