.events_page {
  margin: 0 auto;

  h2 {
    color: #ffffff;
    text-align: center;
    line-height: 1.2em;
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.3em;
  }

  > {
    section > h3,
    h3 {
      margin-top: 2em;
      padding: 0em 2em;
      color: #ca1e56;
    }
    section.header > p,
    p {
      margin-top: 0.5em;
      font-size: 1.25em;
      text-align: center;
      color: #ffffff;
      width: 50%;
      margin: 0 auto;
    }
  }

  section {
    &.header {
      display: block;
      background-color: #4c9ad2;
      padding: 5rem;
      align-content: center;
    }
    &.info p {
      margin-top: 0.5em;
      font-size: 1.25em;
    }
  }
  > section:not(:first-child) {
    padding: 2em;
  }
}

@media only screen and (max-width: 900px) {
  .events_page {
    margin: 0 auto;
    section > h3,
    h3 {
      text-align: center;
      margin-left: 0;
    }
    > {
      section.header > p,
      p {
        width: 100%;
        margin: 0 auto;
      }
    }

    section {
      &.header {
        padding: 2rem;
      }
    }
  }
}
