.single-event {
  > section > section {
    display: flex;

    > {
      article {
        box-sizing: border-box;
        width: 50%;
        padding-right: 2em;
      }

      aside {
        box-sizing: border-box;
        width: 50%;
        padding-left: 2em;
      }
    }
  }

  .info {
    display: block;
  }

  .header {
    display: block;
    background-color: #4c9ad2;
    padding: 5rem;
    align-content: center;
    h1 {
      color: white;
      text-align: center;
    }
  }

  > section > section > aside {
    > a {
      box-sizing: border-box;
      font-size: 1.5em;
      padding: 0.5em 1.5em;
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 1em;
      background-color: #ca1e56;
      color: #ddd;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }

    iframe {
      width: 100%;
    }

    figure {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      padding: 1em 2em;
      border: 1px solid #dde4e6;
      transition: all 0.4s ease;
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }

      img {
        display: inline-block;
        width: auto !important;
        height: auto !important;
        max-height: 125px;
      }
    }
  }

  .sponsors {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    figure {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      padding: 1em 2em;
      border: 1px solid #dde4e6;
      transition: all 0.4s ease;
      cursor: pointer;
      width: 30%;
      box-sizing: border-box;
      height: calc(125px + 2em);
      justify-content: center;

      &:hover {
        background-color: #fff;
      }

      img {
        display: inline-block;
        width: auto !important;
        height: auto !important;
        max-height: 125px;
        max-width: 100%;
      }
    }
  }
}
