.manage_account {
    margin: 0rem 5rem;
    background-color: #ffffff;

    hr.grey-border {
        border-radius: 5px;
        height: 2px;
        background-color: #eee;
        border: none;
        margin: 0 1rem;
    }

    article {
        padding: 2rem;

        h3 {
            margin-bottom: 10px;
            color: #000000;
        }

        a {
            button {
                &.red-button {
                    margin: 5px 0px;
                    width: 100%;
                    border-radius: 0.5em;
                    display: inline-block;
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: Open Sans;
                    font-size: 1rem;
                    text-align: left;
                    background-color: #fff;
                    border: 1px solid #fff;
                    color: #000;
                }

                &.red-button:hover {
                    background-color: #fd266c;
                    border: 1px solid #fd266c;
                    color: #ffffff;
                }

                &.blue-button {
                    margin: 5px 0px;
                    border-radius: 0.5em;
                    color: #000;
                    display: inline-block;
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: Open Sans;
                    font-size: 1rem;
                    text-decoration: none;
                    text-align: left;
                    background-color: #ffffff;
                    border: 1px solid #fff;
                    width: 100%;
                }

                &.blue-button:hover {
                    background-color: #6dbff9;
                    border: 1px solid #6dbff9;
                    color: #ffffff;
                }

                &.black-button {
                    margin: 5px 0px;
                    border-radius: 0.5em;
                    color: #000;
                    display: inline-block;
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: Open Sans;
                    font-size: 1rem;
                    text-decoration: none;
                    text-align: left;
                    background-color: #fff;
                    border: 1px solid #fff;
                    width: 100%;
                }

                &.black-button:hover {
                    background-color: #323232;
                    border: 1px solid #323232;
                    color: #ffffff;
                }
            }
        }

        &.left-menu {
            display: flex;
            flex-direction: column;
            padding: 1em;

            h3 {
                padding: 5px 10px;
                text-transform: uppercase;
                color: 323232;
            }
        }

        div.content-wrapper {
            display: flex;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 1em 0;
            align-items: center;

            div.content-wrapper-content {
                flex: 2;

                h2 {
                    margin-bottom: 10px;
                    color: #0c010e;
                }
            }

            div.content-wrapper-button {
                flex-direction: column;
                display: flex;

                button {
                    &.content-red-button {
                        margin: 5px 0px;
                        border-radius: 0.5em;
                        display: inline-block;
                        cursor: pointer;
                        padding: 5px 10px;
                        font-family: Open Sans;
                        font-size: 1rem;
                        text-align: center;
                        background-color: #fd266c;
                        border: 1px solid #fd266c;
                        color: #fff;
                    }

                    &.content-red-button:hover {
                        background-color: #fd266c;
                        border: 1px solid #fd266c;
                        color: #ffffff;
                    }

                    &.content-blue-button {
                        margin: 5px 0px;
                        border-radius: 0.5em;
                        display: inline-block;
                        cursor: pointer;
                        padding: 5px 10px;
                        font-family: Open Sans;
                        font-size: 1rem;
                        text-align: center;
                        background-color: #6dbff9;
                        border: 1px solid #6dbff9;
                        color: #fff;
                    }

                    &.content-blue-button:hover {
                        background-color: #6dbff9;
                        border: 1px solid #6dbff9;
                        color: #ffffff;
                    }

                    &.content-black-button {
                        margin: 5px 0px;
                        border-radius: 0.5em;
                        display: inline-block;
                        cursor: pointer;
                        padding: 5px 10px;
                        font-family: Open Sans;
                        font-size: 1rem;
                        text-align: center;
                        background-color: #0c010e;
                        border: 1px solid #0c010e;
                        color: #fff;
                    }

                    &.content-black-button:hover {
                        background-color: #0c010e;
                        border: 1px solid #0c010e;
                        color: #ffffff;
                    }
                }
            }
        }

        div.message {
            display: flex;
            padding: 1em 0;
            align-items: center;
            flex-direction: column;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;

            .message-text {
                color: #0c010e;
            }

            button {
                &.message-button {
                    margin: 5px 0px;
                    border-radius: 0.5em;
                    display: inline-block;
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: Open Sans;
                    font-size: 1rem;
                    text-align: center;
                    background-color: #0c010e;
                    border: 1px solid #0c010e;
                    color: #fff;
                }

                &.message-button:hover {
                    background-color: #0c010e;
                    border: 1px solid #0c010e;
                    color: #ffffff;
                }
            }
        }
    }

    section {
        &.profile-header {
            display: flex;
            padding: 2rem;

            .name {
                margin-left: 1.25rem;
                align-self: center;
                color: #0c010e;
                display: flex;
            }

            img.profile-picture {
                border-radius: 50%;
                height: 5rem;
                width: 5rem;
                object-fit: cover;
                border: 1px solid #eee;
            }
        }

        &.profile-contents {
            display: flex;

            div {
                &.manage-profile {
                    width: 20%;
                    padding: 1em;
                    border-right: 1px solid #eee;
                }

                &.profile-events {
                    width: 75%;
                    padding: 1em;

                    article {
                        section {
                            margin: 2em 0;
                        }

                        h2 {
                            &.section-heading {
                                margin-bottom: 20px;
                                color: #000000;
                            }
                        }

                        h3 {
                            &.sub-heading {
                                color: #323232;
                                margin-bottom: 5px;
                                text-transform: uppercase;
                            }
                        }

                        p {
                            &.blank-message {
                                font-style: italic;
                            }
                        }

                        div {
                            a {
                                button {
                                    &.red-events-button {
                                        margin: 5px 0px;
                                        border-radius: 0.5em;
                                        display: inline-block;
                                        cursor: pointer;
                                        padding: 5px 10px;
                                        font-family: Open Sans;
                                        font-size: 1rem;
                                        text-align: center;
                                        background-color: #fd266c;
                                        border: 1px solid #fd266c;
                                        color: #fff;
                                    }

                                    &.red-events-button:hover {
                                        background-color: #fd266c;
                                        border: 1px solid #fd266c;
                                        color: #ffffff;
                                    }

                                    &.blue-events-button {
                                        margin: 5px 0px;
                                        border-radius: 0.5em;
                                        display: inline-block;
                                        cursor: pointer;
                                        padding: 5px 10px;
                                        font-family: Open Sans;
                                        font-size: 1rem;
                                        text-align: center;
                                        background-color: #6dbff9;
                                        border: 1px solid #6dbff9;
                                        color: #fff;
                                    }

                                    &.blue-events-button:hover {
                                        background-color: #6dbff9;
                                        border: 1px solid #6dbff9;
                                        color: #ffffff;
                                    }

                                    &.black-events-button {
                                        margin: 5px 0px;
                                        border-radius: 0.5em;
                                        display: inline-block;
                                        cursor: pointer;
                                        padding: 5px 10px;
                                        font-family: Open Sans;
                                        font-size: 1rem;
                                        text-align: center;
                                        background-color: #0c010e;
                                        border: 1px solid #0c010e;
                                        color: #fff;
                                    }

                                    &.black-events-button:hover {
                                        background-color: #0c010e;
                                        border: 1px solid #0c010e;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width: 425px) {
                flex-direction: column;
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .user_profile_two {
        margin: 0 auto;

        section>h3,
        h3 {
            text-align: center;
            margin-left: 0;
        }

        img.profile-picture {
            width: 80px;
        }

        section {
            &.profile-header {
                padding: 2rem;
            }

            &.profile-contents {
                margin: 0 auto;
                flex-direction: column-reverse;

                div.manage-profile {
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;
                }

                div.profile-events {
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;
                }
            }
        }

        article {
            div.content-wrapper {
                flex-direction: column;
            }
        }
    }
}