.profile_page {
    margin: 0rem 5rem;
    background-color: #ffffff;

    hr.grey-border {
        border-radius: 5px;
        height: 2px;
        background-color: #eee;
        border: none;
        margin: 0 1rem;
    }

    section {
        &.profile-header {
            display: flex;
            margin: 0 2rem 1rem 0rem;
            padding: 2rem 1rem 0 1rem;

            img.profile-picture {
                border-radius: 50%;
                height: 5rem;
                width: 5rem;
                object-fit: cover;
                border: 1px solid #eee;
            }

            div.profile-content {
                margin-left: 1.5rem;
                align-self: center;
                display: flex;
                flex-direction: column;

                .name {
                    color: #0c010e;
                }

                .bio {
                    display: flex;

                    p {
                        color: #201d21;
                        margin-right: 15px;
                        font-style: italic;
                        font-size: 1rem;
                    }
                }

                .links {
                    align-items: center;
                    flex-direction: row;
                    display: flex;
                    flex-flow: wrap;

                    p {
                        color: #201d21;
                        margin-right: 15px;
                    }

                    button {
                        &.black-button {
                            margin: 5px 0px;
                            border-radius: 0.5em;

                            a {
                                color: #ffffff;
                                text-decoration: none;
                            }

                            display: inline-block;
                            cursor: pointer;
                            padding: 5px 10px;
                            font-family: Open Sans;
                            font-size: 1rem;
                            text-decoration: none;
                            text-align: center;
                            background-color: #0c010e;
                            border: 1px solid #0c010e;
                        }

                        &.black-button:hover {
                            background-color: #323232;
                            border: 1px solid #323232;

                            a {
                                color: #ffffff;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        &.profile-skills {
            display: flex;
            flex-direction: column;
            padding: 2rem;

            @media only screen and (max-width: 425px) {
                flex-direction: column;
                margin-top: 10px;
            }

            .profile-skills-content {
                padding: 1rem 0rem;
                align-items: center;
                display: flex;

                .tag {
                    color: white;
                    width: fit-content;
                    border-radius: 10px;
                    padding: 5px 10px;
                    align-items: center;
                    margin: 3px;

                    &:nth-of-type(odd) {
                        background: #4c9ad2;
                    }

                    &:nth-of-type(even) {
                        background: #c61f55;
                    }
                }
            }
        }

        &.profile-interests {
            display: flex;
            padding: 2rem;
            flex-direction: column;

            @media only screen and (max-width: 425px) {
                flex-direction: column;
                margin-top: 10px;
            }

            .profile-interests-content {
                padding: 1rem 0rem;
                align-items: center;
                display: flex;

                .tag {
                    color: white;
                    width: fit-content;
                    border-radius: 10px;
                    padding: 5px 10px;
                    align-items: center;
                    margin: 3px;

                    &:nth-of-type(odd) {
                        background: #4c9ad2;
                    }

                    &:nth-of-type(even) {
                        background: #c61f55;
                    }
                }
            }
        }

        &.profile-badges {
            display: flex;
            padding: 2rem;
            flex-direction: column;

            @media only screen and (max-width: 425px) {
                flex-direction: column;
                margin-top: 10px;
            }

            .profile-badges-content {
                padding: 1rem 0rem;
                align-items: center;
                flex-direction: row;
                display: flex;
                flex-flow: wrap;

                .badge-wrapper {
                    padding: 10px;
                    margin: 5px;
                    align-items: center;
                    width: 300px;
                    border: 1px solid black;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row-reverse;

                    div.text-content {
                        width: 70%;
                        margin-left: 10px;

                        p.title {
                            text-transform: uppercase;
                            font-size: medium;
                        }

                        p.date-issued {
                            font-style: italic;
                            font-size: small;
                        }
                    }

                    img {
                        display: block;
                        width: 100px;
                    }
                }
            }
        }

        &.profile-footer {
            display: flex;
            padding: 2rem;
            align-items: center;
            flex-direction: column;

            button {
                &.black-button {
                    margin: 5px 0px;
                    border-radius: 0.5em;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }

                    display: inline-block;
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: Open Sans;
                    font-size: 1rem;
                    text-decoration: none;
                    text-align: center;
                    background-color: #0c010e;
                    border: 1px solid #0c010e;
                }

                &.black-button:hover {
                    background-color: #323232;
                    border: 1px solid #323232;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}