.profile_page {
    padding: 2em 5em;
    background: #ffffff;

    h2 {
        color: #4c9ad2;
        font-size: 2em;
    }

    h3 {
        color: #000000;
        font-size: 1em;
    }

    section {
        padding: 2rem 0;
    }
}