.profile_page {
  .profile-header {
    .profile-picture {
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      object-fit: cover;
      border: 1px solid #eee;
    }
    .profile-content {
      .bio {
        font-style: italic;
        margin-bottom: 0.5rem;
      }

      .links {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        font-size: var(--font-size-lg);

        a {
          color: var(--secondary);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .profile-badges {
    .profile-badges-content {
      display: flex;
      flex-wrap: wrap;

      .badge-wrapper {
        padding: 1rem;
        margin: 0.5rem;
        align-items: center;
        width: 18rem;
        border: 1px solid black;
        border-radius: 1rem;
        display: flex;
        flex-direction: row-reverse;

        div.text-content {
          width: 70%;
          margin-left: 1rem;

          p.title {
            text-transform: uppercase;
            font-size: medium;
          }
        }

        img {
          display: block;
          width: 6rem;
        }
      }
    }
  }

  section {
    margin: 4rem 0;
  }

  .profile-skills,
  .profile-interests {
    .profile-interests-content,
    .profile-skills-content {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .tag {
        color: white;
        width: fit-content;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }

  .profile-skills .tag {
    background-color: var(--secondary);
  }

  .profile-interests .tag {
    background-color: var(--primary);
  }

  .profile-footer {
    text-align: center;
  }

  .black-button > a {
    padding: 0.5rem 1rem;
    background-color: #000;
    color: white;
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
    font-size: var(--font-size-lg);

    &:hover {
      background-color: var(--dark-gray);
    }
  }

  .grey-border {
    border-radius: 1rem;
    height: 2px;
    background-color: #eee;
    margin: 2rem 0;
    border: none;
  }
}
