.profile_page_test {
    margin: 0rem 5rem;
    background-color: #ffffff;

    hr.grey-border {
        border-radius: 5px;
        height: 2px;
        background-color: #eee;
        border: none;
        margin: 0 1rem;
    }

    section {
        &.profile-header {
            display: flex;
            margin: 2rem 1rem 0rem;

            img.profile-picture {
                border-radius: 50%;
                height: 5rem;
                width: 5rem;
                object-fit: cover;
                border: 1px solid #eee;
            }

            div.profile-content {
                margin-left: 1.5rem;
                align-self: center;
                display: flex;
                flex-direction: column;

                .name {
                    color: #0c010e;
                }

                .bio {
                    display: flex;

                    p {
                        color: #201d21;
                        margin-right: 15px;
                        font-style: italic;
                        font-size: 1rem;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;

                    p {
                        color: #201d21;
                        margin-right: 15px;
                    }

                    button {
                        &.black-button {
                            margin: 5px 0px;
                            border-radius: 0.5em;

                            a {
                                color: #ffffff;
                                text-decoration: none;
                            }

                            display: inline-block;
                            cursor: pointer;
                            padding: 5px 10px;
                            font-family: Open Sans;
                            font-size: 1rem;
                            text-decoration: none;
                            text-align: center;
                            background-color: #0c010e;
                            border: 1px solid #0c010e;
                        }

                        &.black-button:hover {
                            background-color: #323232;
                            border: 1px solid #323232;

                            a {
                                color: #ffffff;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        &.profile-skills {
            display: flex;
            flex-direction: column;
            padding: 2rem;

            @media only screen and (max-width: 425px) {
                flex-direction: column;
                margin-top: 10px;
            }

            .profile-skills-content {
                padding: 1rem 0rem;
                align-items: center;
            }
        }

        &.profile-interests {
            display: flex;
            padding: 2rem;
            flex-direction: column;

            @media only screen and (max-width: 425px) {
                flex-direction: column;
                margin-top: 10px;
            }

            .profile-interests-content {
                padding: 1rem 0rem;
                align-items: center;
            }
        }

        &.profile-badges {
            display: flex;
            padding: 2rem;
            flex-direction: column;

            @media only screen and (max-width: 425px) {
                flex-direction: column;
                margin-top: 10px;
            }

            .profile-badges-content {
                padding: 1rem 0rem;
                align-items: center;
                justify-content: space-evenly;

                .badge-wrapper {
                    max-width: 20%;
                    padding: 2px;
                    align-items: center;

                    p {
                        text-align: center;
                    }
                }
            }
        }

        &.profile-footer {
            display: flex;
            padding: 2rem;
            align-items: center;
            flex-direction: column;

            button {
                &.black-button {
                    margin: 5px 0px;
                    border-radius: 0.5em;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }

                    display: inline-block;
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: Open Sans;
                    font-size: 1rem;
                    text-decoration: none;
                    text-align: center;
                    background-color: #0c010e;
                    border: 1px solid #0c010e;
                }

                &.black-button:hover {
                    background-color: #323232;
                    border: 1px solid #323232;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}