.project_index {
  > *:not(:first-child) {
    padding: 2em 5em;
  }

  h2 {
    color: #4c9ad2;
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
    padding: 1em;
  }

  p {
    padding: 0em 2.25em;
  }

  aside {
    float: right;

    a {
      box-sizing: border-box;
      font-size: 1.5em;
      padding: 0.5em 1.5em;
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 1em;
      background-color: #ca1e56;
      color: #ddd;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
