@import url('https://fonts.googleapis.com/css?family=Roboto');

.registration {
  padding: 2em 5em;
  background: #fff;

  h2 {
    color: #ca1e56;
    font-size: 2em;
  }

  a {
    text-decoration: none;
  }

  .links {
    a {
      color: #4c9ad2;
      text-decoration: none;
    }

    a:hover {
      color: #4c9ad2;
      text-decoration: underline;
    }
  }

  >section {
    display: flex;
  }

  form {
    box-sizing: border-box;
  }

  &.single-col form {
    border-right: none;
  }

  form {
    >div {
      &.field {
        display: flex;
        padding: 0.5em 0em;
        align-items: center;

        >label {
          box-sizing: border-box;
          width: 50%;
          padding-right: 1em;
          text-align: right;
          font-size: 1.15em;
        }

        > {

          input,
          select {
            box-sizing: border-box;
            width: 50%;
            padding-left: 1em;
            font-size: 1em;
            padding: 0.5em;
            display: flex;
          }
        }

        div {
          &.field {
            display: flex;
            padding: 0.5em 0em;
            align-items: center;
            text-align: left !important;
          }

          &.select-profile {
            padding: 0;
          }

          &.field {
            div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 90%;
              box-sizing: border-box;
            }

            .govhack-profile {
              flex-direction: column;

              div {
                display: flex;
                justify-content: space-between;
                width: 100%;
              }

              input[type="file"] {
                width: auto;
              }
            }

            input {
              box-sizing: border-box;
              width: 10%;
              padding-right: 1em;
            }
          }
        }
      }

      >div {
        box-sizing: border-box;
        width: 50%;
        padding-right: 1em;
        text-align: right;
        font-size: 1.15em;

        em {
          font-size: 0.85em;
        }
      }

      &.actions {
        display: flex;
        margin-top: 1em;
        margin-bottom: 1em;

        input {
          margin: 5px 0px;
          border-radius: 0.5em;
          display: inline-block;
          cursor: pointer;
          padding: 10px 20px;
          font-family: Open Sans;
          font-size: 1rem;
          text-align: left;
          background-color: #ca1e56;
          border: 1px solid #ca1e56;
          color: #fff;
        }
      }

      &.field>div.field_with_errors>input {
        padding-left: 1em;
        font-size: 1em;
        padding: 0.5em;
        display: flex;
        width: 100%;
        border: 1px solid #C00;
      }
    }

    #error_explanation {
      h2 {
        font-size: 1.25em;
        color: #C00;
      }

      li {
        color: #C00;
        margin-left: 1.5em;
      }
    }
  }

  .google-oath {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    hr.grey-border {
      border-radius: 5px;
      height: 2px;
      background-color: #eee;
      border: none;
      margin: 0 1rem;
      width: 50%;
    }

    p.alt-text {
      margin-right: 2rem;
    }

    #signgoogle {
      height: 50px;
      width: 240px;
      background-color: #4285f4;
      border: none;
      color: #fff;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      transition: background-color .218s, border-color .218s, box-shadow .218s;

      &:hover {
        -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
        box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
      }

      .wrapper {
        height: 100%;
        border: 1px solid transparent;

        .icon {
          padding: 15px;
          background-color: #fff;
          border-radius: 1px;
          float: left;

          .icon-svg {
            width: 18px;
            height: 18px;
          }
        }

        .message {
          font-size: 16px;
          line-height: 48px;
          font-weight: 500;
          letter-spacing: .21px;
          margin-left: 6px;
          margin-right: 6px;
          vertical-align: top;
          text-decoration: none !important;
        }
      }
    }
  }

  // All pages that use forms
  &.signup,
  &.signin,
  &.change-email-password,
  &.edit-account,
  &.update-profile-picture {
    section {
      &.signup-form {
        padding: 5em 2em;
        width: 40%;

        h2 {
          &.heading {
            margin-bottom: 3rem;
          }
        }
      }

      @media only screen and (max-width: 1000px) {
        &.signup-form {
          width: 100%;
          padding: 2em;
        }
      }
    }
  }

  &.signup #signgoogle .wrapper .message p:last-of-type,
  &.signin #signgoogle .wrapper .message p:first-of-type {
    display: none;
  }

  &.single-col {

    &.toc section,
    &.edit-account section,
    &.change-email-password section,
    &.manage-account section {
      flex-direction: column;
    }

    &.manage-account section article {
      padding: 2em 2em;
    }

    &.toc section {
      article {
        padding: 2em 2em;

        h3:not(:first-of-type) {
          margin-top: 1em;
        }

        p:not(:first-of-type) {
          margin-top: 0.5em;
        }

        li {
          list-style: square;
          margin-left: 2em;
        }
      }

      form {
        width: 100%;
        background: black;
        color: white;

        input[type='checkbox'] {
          -webkit-appearance: none;
          width: 30px;
          height: 30px;
          background: white;
          border-radius: 5px;
          border: 2px solid #555;

          &:after {
            content: "\2718";
            color: red;
          }

          &:checked {
            background: #ca1e56;

            &:after {
              content: "\2713";
              color: white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .registration {
    >section {
      flex-direction: column;
    }

    form {
      border-right: none;
      width: 100%;
    }

    aside {
      width: 100%;
    }
  }
}