.registrations_list {
  > *:not(:first-child) {
    padding: 2em 5em;
  }

  h2 {
    color: #ca1e56;
    font-size: 2em;
  }

  > section {}

  table {
    box-sizing: border-box;
    margin-top: 2em;
    margin-left: 2em;
    padding: 2em 2em;
    border-collapse: collapse;
    border: 1px solid #4c9ad2;
    padding: 0.25em 1em;
  }

  th, td {
    border: 1px solid #4c9ad2;
    padding: 0.25em 1em;
  }

  th {
    background-color: #4c9ad2;
    color: #ddd;
  }
}
