@import url("https://fonts.googleapis.com/css?family=Roboto");

.registration {
  background: #fff;

  h2 {
    color: #ca1e56;
    font-size: 2em;
    line-height: 1.2em;
  }

  a {
    text-decoration: none;
  }

  .links {
    a {
      color: #4c9ad2;
      text-decoration: none;
    }

    a:hover {
      color: #4c9ad2;
      text-decoration: underline;
    }
  }

  > section {
    display: flex;
  }

  form {
    box-sizing: border-box;
    max-width: 95%;
  }

  &.single-col form {
    border-right: none;
  }

  form {
    > div {
      &.field {
        display: flex;
        padding: 0.5em 0em;
        align-items: center;

        > label {
          box-sizing: border-box;
          padding-right: 1em;
          text-align: right;
          font-size: 1.15em;
        }

        > {
          input,
          select {
            box-sizing: border-box;
            padding-left: 1em;
            font-size: 1em;
            padding: 0.5em;
            display: flex;
          }
        }

        div {
          &.field {
            display: flex;
            padding: 0.5em 0em;
            align-items: center;
          }

          &.select-profile {
            padding: 0;
          }

          &.field {
            div {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 90%;
              box-sizing: border-box;
            }

            .govhack-profile {
              flex-direction: column;

              div {
                display: flex;
                justify-content: space-between;
                width: 100%;
              }

              input[type="file"] {
                width: auto;
              }
            }

            input {
              box-sizing: border-box;
              width: 10%;
              padding-right: 1em;
            }
          }
        }
      }

      > div {
        box-sizing: border-box;
        padding-right: 1em;
        font-size: 1.15em;
      }

      &.actions {
        display: flex;
        margin-top: 1em;
        margin-bottom: 1em;

        input {
          margin: 5px 0px;
          border-radius: 0.5em;
          display: inline-block;
          cursor: pointer;
          padding: 10px 20px;
          font-family: Open Sans;
          font-size: 1rem;
          text-align: left;
          background-color: #ca1e56;
          border: 1px solid #ca1e56;
          color: #fff;
        }
      }

      &.field > div.field_with_errors > input {
        padding-left: 1em;
        font-size: 1em;
        padding: 0.5em;
        display: flex;
        width: 100%;
        border: 1px solid #c00;
      }
    }

    #error_explanation {
      h2 {
        font-size: 1.25em;
        color: #c00;
      }

      li {
        color: #c00;
        margin-left: 1.5em;
      }
    }
  }

  .google-oath {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    hr.grey-border {
      border-radius: 5px;
      height: 2px;
      background-color: #eee;
      border: none;
      margin: 0 1rem;
      width: 50%;
    }

    p.alt-text {
      font-style: italic;
      color: #555;
    }

    #signgoogle {
      height: 50px;
      width: 240px;
      background-color: #4285f4;
      border: none;
      color: #fff;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      transition: background-color 0.218s, border-color 0.218s,
        box-shadow 0.218s;

      &:hover {
        -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
        box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
      }

      .wrapper {
        height: 100%;
        border: 1px solid transparent;

        .icon {
          padding: 15px;
          background-color: #fff;
          border-radius: 1px;
          float: left;

          .icon-svg {
            width: 18px;
            height: 18px;
          }
        }

        .message {
          font-size: 16px;
          line-height: 48px;
          font-weight: 500;
          letter-spacing: 0.21px;
          margin-left: 6px;
          margin-right: 6px;
          vertical-align: top;
          text-decoration: none !important;
        }
      }
    }
    // small phone screens
    @media (min-width: 300px) and (max-width: 599px) {
      margin: 1rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      hr.grey-border {
        margin: 1rem 0;
        width: 100%;
      }

      #signgoogle {
        height: 45px;
        width: 200px;
        .wrapper {
          .icon {
            padding: 12px;
            background-color: #fff;
            border-radius: 1px;
            float: left;
          }

          .message {
            font-size: 14px;
            line-height: 38px;
            font-weight: 500;
            letter-spacing: 0.21px;
            margin-left: 6px;
            margin-right: 6px;
            vertical-align: top;
            text-decoration: none !important;
          }
        }
      }
    }

    // tablet screens
    @media (min-width: 600px) and (max-width: 959px) {
      margin: 1rem 0rem;
      display: flex;
      align-items: center;
      flex-direction: row;

      hr.grey-border {
        margin: 1rem;
        width: 50%;
      }

      #signgoogle {
        height: 45px;
        width: 200px;
        .wrapper {
          .icon {
            padding: 12px;
            background-color: #fff;
            border-radius: 1px;
            float: left;
          }

          .message {
            font-size: 14px;
            line-height: 38px;
            font-weight: 500;
            letter-spacing: 0.21px;
            margin-left: 6px;
            margin-right: 6px;
            vertical-align: top;
            text-decoration: none !important;
          }
        }
      }
    }
  }

  // All registration pages that has a form
  &.signup,
  &.signin,
  &.change-email-password,
  &.edit-account,
  &.forgot-password,
  &.update-profile-picture,
  &.resend-confirmation,
  &.resend-unlock {
    container {
      &.registration {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media (min-width: 1440px) {
          height: 90vh;
        }
      }
    }

    /* Custom, iPhone Retina */
    @media only screen and (min-device-width: 320px) and (min-width: 320px) {
      section {
        &.signup-form {
          flex-direction: column;
          width: 100%;
          h2 {
            &.heading {
              margin: 2rem 0;
            }
          }
          div.form-wrapper {
            padding: 1.5rem;
          }
        }
        &.signup-content {
          display: none;
        }
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-device-width: 480px) and (min-width: 480px) {
      section {
        &.signup-form {
          flex-direction: column;
          width: 100%;
          h2 {
            &.heading {
              margin: 2rem 0;
            }
          }
          div.form-wrapper {
            padding: 1.5rem;
          }
        }
        &.signup-content {
          display: none;
        }
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width: 768px) {
      section {
        &.signup-form {
          flex-direction: column;
          width: 100%;
          h2 {
            &.heading {
              margin: 2rem 0;
            }
          }
          div.form-wrapper {
            padding: 2rem 3rem;
          }
        }
        &.signup-content {
          display: none;
        }
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width: 992px) {
      section {
        &.signup-form {
          flex-direction: column;
          justify-content: center;
          width: 50%;

          h2 {
            &.heading {
              margin-bottom: 2rem;
            }
          }

          div.form-wrapper {
            padding: 3rem 2rem;
          }
        }
        &.signup-content {
          display: flex;
          width: 50%;
          background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("/assets/city.png");
          background-size: cover;
          float: left;
          height: auto;
          flex-direction: column;
          justify-content: center;
          .content {
            color: #ffffff;
            margin: 2rem;
            max-width: 80%;
            p {
              &.leading-text {
                margin-bottom: 1rem;
                font-size: 0.9rem;
                line-height: 1rem;
              }
            }
            h2 {
              &.heading {
                margin-bottom: 1.5rem;
                font-size: 2rem;
                line-height: 2.5rem;
                color: #ffffff;
                font-weight: 500;
              }
            }
            p {
              &.description {
                margin-bottom: 1rem;
                font-size: 1rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width: 1200px) {
      // large desktops
      section {
        &.signup-form {
          flex-direction: column;
          justify-content: center;
          width: 50%;

          h2 {
            &.heading {
              margin-bottom: 3rem;
            }
          }

          div.form-wrapper {
            padding: 3rem;
          }
        }
        &.signup-content {
          display: flex;
          width: 50%;
          background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("/assets/city.png");
          background-size: cover;
          float: left;
          height: auto;
          flex-direction: column;
          justify-content: center;
          .content {
            color: #ffffff;
            margin: 3rem;
            max-width: 80%;
            p {
              &.leading-text {
                margin-bottom: 1rem;
                font-size: 1rem;
                line-height: 1.5rem;
              }
            }
            h2 {
              &.heading {
                margin-bottom: 1.5rem;
                font-size: 3rem;
                line-height: 3.5rem;
                color: #ffffff;
                font-weight: 500;
              }
            }
            p {
              &.description {
                margin-bottom: 1rem;
                font-size: 1.2rem;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }
  }

  &.signup #signgoogle .wrapper .message p:last-of-type,
  &.signin #signgoogle .wrapper .message p:first-of-type {
    display: none;
  }

  &.single-col {
    &.toc section,
    &.edit-account section,
    &.change-email-password section,
    &.manage-account section &.forgot-password section {
      flex-direction: column;
    }

    &.manage-account section article {
      padding: 2em 2em;
    }

    &.edit-account section article {
      padding-bottom: 2em;
    }

    &.toc section {
      article {
        padding: 2em 2em;

        h2 {
          &.heading {
            margin-bottom: 3rem;
          }
        }

        h3:not(:first-of-type) {
          margin-top: 1em;
        }

        p:not(:first-of-type) {
          margin-top: 0.5em;
        }

        li {
          list-style: square;
          margin-left: 2em;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .registration {
    > section {
      flex-direction: column;
    }

    form {
      border-right: none;
      width: 100%;
    }

    aside {
      width: 100%;
    }
  }
}
