main.scorecard {
  padding: 1em;

  h2 {
    color: var(--primary);
  }

  h3 {
    color: var(--secondary);
  }
}

.scorecard {
  form {
    > div {
      &.field {
        display: flex;
        padding: 0.5em 0em;
        align-items: center;

        > label {
          box-sizing: border-box;
          width: 50%;
          padding-right: 1em;
          text-align: right;
          font-size: 1em;
          font-weight: 700;
        }

        > {
          input, select {
            box-sizing: border-box;
            width: 50%;
            padding-left: 1em;
            font-size: 1em;
            padding: 0.5em;
            display: flex;
          }
        }

        div.field {
          display: flex;
          padding: 0.5em 0em;
          align-items: center;
          text-align: left !important;

          div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            box-sizing: border-box;
          }

          input {
            box-sizing: border-box;
            width: 10%;
            padding-right: 1em;
          }
        }
      }

      > div {
        box-sizing: border-box;
        width: 50%;
        padding-right: 1em;
        text-align: right;
        font-size: 1em;
        font-weight: 700;

        em {
          font-size: 0.85em;
          font-weight: 400;
        }
      }

      &.actions {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;

        input {
          box-sizing: border-box;
          font-size: 1.5em;
          padding: 0.5em 1.5em;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: var(--primary);
          color: #ddd;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      &.field > div.field_with_errors > input {
        padding-left: 1em;
        font-size: 1em;
        padding: 0.5em;
        display: flex;
        width: 100%;
        border: 1px solid #C00;
      }
    }

    #error_explanation {
      h2 {
        font-size: 1.25em;
        color: #C00;
      }

      li {
        color: #C00;
        margin-left: 1.5em;
      }
    }
  }

  .justification {
    padding: 0.5em;
    border: 1px solid var(--primary);
    margin: 0.5em;
    font-size: 0.85em;
  }
}
