.team_page {
  padding: 2em 5em;

  h2 {
    color: #4c9ad2;
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
    padding: 1em;
  }

  section {
    padding: 0.25em 1.5em;
  }

  aside {
    &.fav_judge {
      display: flex;
      width: 50%;
      justify-content: flex-end;

      p {
        width: 50%;
        box-sizing: border-box;
        padding: 0.5em 0.5em;
      }

      a {
        box-sizing: border-box;
        font-size: 1.0em;
        padding: 0em 0em;
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 0em;
        background-color: #ca1e56;
        color: #ddd;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
      }

      p:nth-child(2) a {
        background-color: #4c9ad2;
      }
    }

    float: right;

    a {
      box-sizing: border-box;
      font-size: 1.5em;
      padding: 0.5em 1.5em;
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 1em;
      background-color: #ca1e56;
      color: #ddd;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  form > div {
    &.field {
      display: flex;
      padding: 0.5em 0em;
      align-items: center;

      > label {
        box-sizing: border-box;
        width: 50%;
        padding-right: 1em;
        text-align: right;
        font-size: 1.15em;
      }

      > input {
        box-sizing: border-box;
        width: 50%;
        padding-left: 1em;
        font-size: 1em;
        padding: 0.5em;
        display: flex;
      }
    }

    > div {
      box-sizing: border-box;
      width: 50%;
      padding-right: 1em;
      text-align: right;
      font-size: 1.15em;

      em {
        font-size: 0.85em;
      }
    }
  }
}

.registration form > div.field > select {
  box-sizing: border-box;
  width: 50%;
  padding-left: 1em;
  font-size: 1em;
  padding: 0.5em;
  display: flex;
}

.team_page {
  form {
    textarea {
      width: 50%;
      height: 5em;
    }

    select {
      width: 50%;
      padding: 0.5em;
    }

    > div {
      &.field div.field {
        display: flex;
        padding: 0.5em 0em;
        align-items: center;
        text-align: left !important;
      }

      &.actions {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;

        input {
          box-sizing: border-box;
          font-size: 1.5em;
          padding: 0.5em 1.5em;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #ca1e56;
          color: #ddd;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      &.field > div.field_with_errors > input {
        padding-left: 1em;
        font-size: 1em;
        padding: 0.5em;
        display: flex;
        width: 100%;
        border: 1px solid #C00;
      }
    }
  }

  #hiddendescription {
    box-sizing: border-box;
    width: 50%;
    padding-left: 1em;
    font-size: 0.5em;
    padding: 0.5em;
    display: none;
  }
}
