/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-device-width: 320px) and (min-width: 320px) {
  .team_page {
    display: flex;

    > section > section {
      padding: 0.25em 1.5em;
    }

    .links {
      a {
        color: var(--secondary);
        text-decoration: none;
      }

      a:hover {
        color: var(--secondary);
        text-decoration: underline;
      }
    }

    form {
      div {
        text-align: left;
        width: 50%;

        &.actions {
          display: block;
          margin-top: 1em;
          margin-bottom: 1em;

          input {
            margin: 5px 0px;
            border-radius: 0.5em;
            display: inline-block;
            cursor: pointer;
            padding: 10px 20px;
            font-family: Open Sans;
            font-size: 1rem;
            text-align: left;
            background-color: var(--primary);
            border: 1px solid var(--primary);
            color: #fff;
          }
        }
      }
    }

    section {
      padding: 0.25em 0;

      &.team_page_header {
        display: flex;
        padding: 2rem;
      }

      &.team_page_body {
        display: flex;

        div {
          &.menu {
            width: 20%;
            border-right: 1px solid #eee;
          }

          &.team_page_content {
            width: 75%;
            padding: 1em;
          }

          &.content-wrapper {
            display: flex;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 1em 0;
            align-items: center;

            div.content-wrapper-content {
              flex: 2;

              h2 {
                margin-bottom: 10px;
                color: #0c010e;
              }
            }

            div.content-wrapper-button {
              flex-direction: column;
              display: flex;
            }
          }
        }
      }
    }

    article {
      &.menu-group,
      &.menu-group-footer {
        display: flex;
        flex-direction: column;
        padding: 1em;

        h3 {
          padding: 5px 10px;
          text-transform: uppercase;
          color: 323232;
        }
      }

      &.main-content {
        h3 {
          &.article-heading {
            margin-bottom: 20px;
            color: #000000;
          }
        }
      }
    }

    #hiddendescription {
      box-sizing: border-box;
      width: 50%;
      padding-left: 1em;
      font-size: 0.5em;
      padding: 0.5em;
      display: none;
    }

    h4 {
      margin-top: 1rem;
    }

    h3 {
      margin-top: 1.5rem;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-device-width: 480px) and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .team_page {
    h2 {
      text-align: left;
    }

    section {
      padding: 0.25em 0;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
  .team_page {
    > section {
      flex-direction: column;
    }

    form {
      div {
        width: 100%;
      }
    }
  }
}
