<% if current_user.accepted_terms_and_conditions %>
<main class="registration single-col edit-account">
  <h2>Update Personal Details</h2>
  <section>
  <%= render 'full_form' %>
  <%= link_to 'Back to Account', manage_account_path %>
  </section>
<% else %>
  <%= render 'terms_and_conditions' %>
<% end %>
