<% if current_user.accepted_terms_and_conditions %>
  <h2>Update Personal Details</h2>
  <%= render 'full_form' %>
  <%= link_to 'Back to Account', manage_account_path %>
<% else %>
  <%= render 'terms_and_conditions' %>
<% end %>
