<main class="project_index">
	<h2>People's Choice Voting in <%= @region.name %> for <%= @competition.name %></h2>

	<%= render 'admin/teams/scorecards/team_scorecards' %>

	<%= link_to "Back to #{@region.name} Region", admin_region_path(@region) %>
</main>
