- content_for :title, 'Conferences'
%main.events_page
  %section.info
    %h2= yield :title
  = render partial: 'events/event_collection', locals: { events: @future_conferences, title: 'Upcoming Conferences' }
  = render partial: 'events/event_collection', locals: { events: @past_conferences, title: 'Past Conferences' }
%p= link_to 'All Events', events_path
