%h3 Flight Options
%h4 Inbound Flight
- if @inbound_flight.present?
  %p= @inbound_flight.description
- else
  %p= link_to 'Choose an Inbound Flight', new_flights_registration_registration_flight_path(@registration, direction: INBOUND)
%h4 OutBound Flight
- if @outbound_flight.present?
  %p= @outbound_flight.description
- else
  %p= link_to 'Choose an Outbound Flight', new_flights_registration_registration_flight_path(@registration, direction: OUTBOUND)
