- if user_signed_in?
  %aside
    = link_to 'Manage Account', manage_account_path
    = link_to 'Sign Out', destroy_user_session_path, :method => :delete
- else
  %aside
    = link_to 'Sign In', user_session_path
    = link_to 'Register', new_user_registration_path
