<% user = locals[:user] %>
<div>
  <p><strong>Full name: <%= user.full_name %></strong></p>
  <% if user.preferred_name.present? %>
    <p>Preferred name: <%= user.preferred_name %></p>
  <% end %>
</div>
