<main class="dataset_page">

<h2>Update Data Set <%= @data_set.name %></h2>

<%= render 'form' %>

<%= link_to "Back #{@region.name} Region Data Sets", admin_region_data_sets_path(@region) %>

</main>
