<main class="events_page">
	<section>
		<h2>Events</h2>
		<h3>Awards</h3>
		<section class="events">
			<% @awards.each do |event| %>
				<% unless event.end_time.blank? || event.finished? %>
					<%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
				<% end %>
			<% end %>
		</section>
		<h3>Competition Events</h3>
		<section class="events">
			<% @locations.each do |event| %>
				<% unless event.end_time.blank? || event.finished? %>
					<%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
				<% end %>
			<% end %>
		</section>
		<h3>Remote '<em>Kitchen Table</em>' Competition Events</h3>
		<section class="events">
			<% @remotes.each do |event| %>
				<% unless event.end_time.blank? || event.finished? %>
					<%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
				<% end %>
			<% end %>
		</section>
		<h3>Connection Events</h3>
		<section class="events">
			<section class="events">
				<% @connections.each do |event| %>
					<% unless event.end_time.blank? || event.finished? %>
						<%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
					<% end %>
				<% end %>
			</section>
		</section>
	</section>
</main>
