<main class="events_page">
	<section>
			<h2>Events</h2>
			<section class="events">

			<% @events.each do |event| %>
				<%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
			<% end %>
		</section>

	</section>
</main>
