<main class="events_page">
  <section class="info">
    <h2>Competition Events</h2>
    <%= render 'competition_event_description' %>
  </section>

<section class="events connections">

  <% @events.each do |event| %>
   <% if event.name.starts_with?("Remote") == false %>
    <%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
  <% end %>
  <% end %>

</section>

<h3>Remote '<em>Kitchen Table</em>' Competition Events</h3>
<section class="events connections">

  <% @events.each do |event| %>
   <% if event.name.starts_with?("Remote") %>
    <%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
  <% end %>
  <% end %>

</section>

<%= link_to 'All Events', events_path %>
<main>
