<main class="events_page">
  <section class="info">
    <h2>Competition Events</h2>
    <%= render 'competition_event_description' %>
  </section>
<h3>
				Upcoming Connection Events
			</h3>
<section class="events connections">

  <% @events.each do |event| %>
  <% unless event.end_time.blank? %>
	<% if event.end_time > DateTime.now %>
    <%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
  <% end %>
  <% end %>
  <% end %>

</section>

<h3>
				Previous Connection Events
			</h3>
<section class="events connections">

  <% @events.each do |event| %>
  <% unless event.end_time.blank? %>
	<% if event.end_time < DateTime.now %>
    <%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
  <% end %>
  <% end %>
  <% end %>

</section>

<%= link_to 'All Events', events_path %>
<main>
