<main class="events_page">
  <section class="info">
  <h2>Connection Events</h2>

    <%= render 'connection_description' %>

  </section>

  <section class="events connections">

    <% @events.each do |event| %>
      <%= link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier) %>
    <% end %>

  </section>

<%= link_to 'All Events', events_path %>
<main>
