<article>
	<div>
	<h3><%= event.name %></h3>
	<h4><%= event.region.name %></h4>
	<% unless event.start_time.blank? %>
		<h4><%= event.start_time.strftime("%e %B %Y") %></h4>
	<% end %>
	<% unless event.end_time.blank? %>
		<h4><%= event.end_time.strftime("%I.%M %p") %></h4>
	<% end %>
	<% if event.event_type == STATE_CONNECTION %>
		<p>Connection Event</p>
	<% elsif event.event_type == COMPETITION_EVENT %>
		<p>Competition Event</p>
	<% end %>
	</div>
</article>
