<% if events.present? %>
  <div class="tile_wrapper">
    <h2 class="subtitle">
      <%= title %>
    </h2>
    <section class="tiles">
      <% events.each do |event| %>
        <% unless event.end_time.blank? %>
          <%= link_to (render partial: "events/event_tile", locals: { event: event } ), event_path(event.identifier) %>
        <% end %>
      <% end %>
    </section>
  </div>
<% end %>
