- if events.present?
  %h3= title
  %section.events
    - events.each do |event|
      - unless event.end_time.blank?
        = link_to (render partial: "events/event_single", locals: { event: event } ), event_path(event.identifier)
