<h2><%= @event.name %> - <%= @event.region.name %></h2>

<% unless @event.attending(current_user) %>
  <%= link_to 'Register to Attend Event', new_event_attendance_path(@event) %>
<% else %>
  You have registered to attend this event.
<% end %>
