<main class="team_page">
  <h2>Edit Sponsorship Type: <%= @sponsorship_type.name %></h2>

  <%= render 'form' %>

  <p><%= link_to 'Back to Sponsorship Types', admin_sponsorship_types_path %></p>
</main>
