<% content_for :title, 'Update Project' %>
<main class="team_page">
  <section>
    <h2><%= "#{yield :title} for Team #{@team.name}" %></h2>
    <%= render 'team_management/projects/form' %>
    <%= link_to 'Back to Project Versions', admin_team_projects_path(@team) %>
  </section>
</main>
