<main class="team_page">
  <h2>
    <%= "New Region Limit for #{@checkpoint.name}" %>
  </h2>
  <%= render 'form' %>
</main>
<p>
  <%= link_to 'Back to Competition Checkpoints', admin_competition_checkpoints_path(@competition) %>
</p>
