<p>Join other participants, mentors, sponsors, and volunteers for our GovHack <%= @competition.year %> State and Territory Awards. It will be a fun and relaxed evening to celebrate the efforts and achievements of our GovHack community and award local and state prizes.</p>
