- content_for :title, 'Awards'
%main.events_page
  %section.header
    %h2 Award Events
    = render 'award_description'
  = render partial: 'events/event_collection', locals: { events: @future_awards, title: 'Upcoming Awards Events' }
  = render partial: 'events/event_collection', locals: { events: @past_awards, title: 'Past Awards Events' }
  %p= link_to 'All Events', events_path
