<% content_for :title, 'Awards' %>
<main class="events_page">
  <section class="header">
    <h2>Award Events</h2>
    <%= render 'award_description' %>
  </section>
  <%= render partial: 'events/event_collection', locals: { events: @future_awards, title: 'Upcoming Awards Events' } %>
  <%= render partial: 'events/event_collection', locals: { events: @past_awards, title: 'Past Awards Events' } %>
  <p>
    <%= link_to 'All Events', events_path %>
  </p>
</main>
