<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <%= image_tag("default_profile_pic.png", class: "img-fluid rounded-start", style: "width: 100%; max-height: 200px;") %>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
