<% if user_signed_in? %>
  <% if @users_team && @competition.in_comp_window?(@team.time_zone) %>
    <%= link_to team_management_team_path(@team) do %>
      <button class="blue-button">
        Manage this Team Project
      </button>
    <% end %>
  <% end %>
  <%= render partial: 'favourite_management' %>
  <% unless Rails.env.production? %>
    <%= render partial: 'slack_management' %>
  <% end %>
  <% if (show_challenge_score_stuff? || show_peoples_choice_stuff?) && !@users_team %>
    <%= render partial: 'scorecard_management' %>
  <% end %>
<% elsif @competition.in_peoples_judging_window? LAST_TIME_ZONE %>
  <div>
    <p>
      <strong>Were you a participant in this year's competition?</strong>
    </p>
    <p>
      <strong>Log in to vote in the People's Choice Awards.</strong>
    </p>
  </div>
<% end %>
