// Place all the styles related to the admin/connections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registrations_list {
	padding: 2em 5em;
}

.registrations_list h2 {
	color: #ca1e56;
	font-size: 2em;
}

.registrations_list > section {
}

.registrations_list table {
	box-sizing: border-box;
	margin-top: 2em;
	margin-left: 2em;
	padding: 2em 2em;
	border-collapse: collapse
}

.registrations_list table, .registrations_list th, .registrations_list td {
	border: 1px solid #4c9ad2;
	padding: 0.25em 1em;
}

.registrations_list th {
	background-color: #4c9ad2;
	color: #ddd;
}