// Place all the styles related to the admin/challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.challenge_admin {
	padding: 2em 5em;
}

.challenge_admin h2 {
	color: #4c9ad2;
	font-size: 2em;
}

.challenge_admin h3 {
	font-size: 1.5em;
	padding: 1em;
}

.challenge_admin form > div.field {
	display: flex;
	padding: 0.5em 0em;
	align-items: center;
}

.challenge_admin form > div.field > label, .challenge_admin form > div > div {
	box-sizing: border-box;
	width: 50%;
	padding-right: 1em;
	text-align: right;
	font-size: 1.15em;
}

.challenge_admin form > div > div em {
	font-size: 0.85em;
}

.challenge_admin form > div.field > input, .challenge_admin form > div.field > select {
	box-sizing: border-box;
	width: 50%;
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
}

.challenge_admin form textarea {
	width: 50%;
	height: 5em;
}

.challenge_admin form select {
	width: 50%;
	padding: 0.5em;
}

.challenge_admin form > div.field div.field {
	display: flex;
	padding: 0.5em 0em;
	align-items: center;
}

.challenge_admin form > div.field div.field {
	text-align: left !important;
}

.challenge_admin form > div.actions {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.challenge_admin form > div.actions input {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
}

.challenge_admin form > div.field > div.field_with_errors > input {
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
	width: 100%;
	border: 1px solid #C00;
}