<a href="<%= resource_tile['url'] %>" target="_blank">
  <article>
    <div>
      <h4>
        <%= resource_tile['name'] %>
      </h4>
      <p>
        <%= resource_tile['short_url'] %>
      </p>
    </div>
  </article>
</a>
