<% content_for :title, "Tech for #{@competition.name}" %>
<main class="dataset_page">
  <h1>
    <%= yield :title %>
  </h1>
  <section class="dataportals">
    <%= render partial: 'resource', collection: @tech %>
  </section>
</main>
<%= link_to 'Back to Resources', resources_path %>
