- total = locals[:total]
- rowspan = locals[:rowspan]
- rgb_g =  (255 * total) / 100
- rgb_r =  (255 * (100 - total)) / 100
%td{:rowspan => rowspan, :style => "background-color: rgb(#{rgb_r},#{rgb_g},0); color: white; text-align: center; font-weight: 700; font-size: 1.25;"}
  = total
  \%
