<main class="challenge_page">
  <%= render 'challenge_entries_header' %>
  <% if @teams.any? %>
    <%= render partial: 'components/team_panel', collection: @teams, as: :team %>
  <% else %>
    <p><strong>No team entries to display for this challenge.</strong></p>
  <% end %>
  <%= link_to 'Back to Challenge', challenge_path(@challenge.identifier) %>
</main>
