<main class="challenge_page">
  <%= render 'challenge_entries_header' %>
  <% if @competition.either_judging_window_open? LAST_COMPETITION_TIME_ZONE %>
    <% if @teams.present? %>
      <%= render 'team_judging_table' %>
    <% else %>
      <p>No team entries to display for this challenge.</p>
    <% end %>
  <% elsif @competition.started?(FIRST_COMPETITION_TIME_ZONE) %>
    <%= render 'team_checkpoint_table' %>
  <% else %>
    <p>Challenge entries will appear here when the competition starts.</p>
  <% end %>
  <%= link_to 'Back to Challenge', challenge_path(@challenge.identifier) %>
</main>
