%main.challenge_index
  = render 'index_header'
  - @regions.each do |region|
    - next unless @checker.show?(region)
    %h3= region.name
    - region.approved_challenges.each do |challenge|
      = render 'challenge_panel',                    |
        challenge: challenge,                        |
        entry_count: @entry_counter.count(challenge)
