<main class="challenge_index">
  <%= render 'challenges_header' %>
  <section class="tiles">
    <% @regions.each do |region| %>
      <% next unless @checker.show?(region) %>
      <%= link_to (render 'region_tile', region: region ), region_path(region) %>
    <% end %>
  </section>
  <% @regions.each do |region| %>
    <% next unless @checker.show?(region) %>
    <h3>
      <%= region.name %>
    </h3>
    <% region.approved_challenges.each do |challenge| %>
      <%= render 'challenge_panel', challenge: challenge, entry_count: challenge.published_entries.length %>
    <% end %>
  <% end %>
</main>
