%main.challenge_index
  = render 'index_header'
  %section.tiles
    - @regions.each do |region|
      - next unless @checker.show?(region)
      = link_to (render 'region_tile', region: region ), region_path(region)
  - @regions.each do |region|
    - next unless @checker.show?(region)
    %h3= region.name
    - region.approved_challenges.each do |challenge|
      = render 'challenge_panel',                    |
        challenge: challenge,                        |
        entry_count: challenge.published_entries.length
