.red {
    margin: 5px 0px;
    border-radius: 0.5em;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-family: Open Sans;
    font-size: 1rem;
    text-align: left;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
    text-decoration: none;
    width: fit-content;
}

.blue {
    margin: 5px 0px;
    border-radius: 0.5em;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-family: Open Sans;
    font-size: 1rem;
    text-align: left;
    background-color: #57A4FF;
    border: 1px solid #57A4FF;
    color: #fff;
    text-decoration: none;
    width: fit-content;
}

.black {
    margin: 5px 0px;
    border-radius: 0.5em;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-family: Open Sans;
    font-size: 1rem;
    text-align: left;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
    width: fit-content;
}
