button,
a {
  &.red-button,
  &.blue-button,
  &.black-button,
  &.download-csv {
    margin: 0.25rem 0px;
    border-radius: 0.5em;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-family: Open Sans;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
    width: fit-content;
  }

  &.red-button,
  &.download-csv {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;

    &:hover {
      background-color: var(--primary-shade);
      border: 1px solid var(--primary-shade);
    }
  }

  &.blue-button {
    color: #fff;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);

    &:hover {
      background-color: var(--secondary-shade);
      border: 1px solid var(--secondary-shade);
    }
  }

  &.black-button {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;

    &:hover {
      background-color: var(--dark-gray);
      border: 1px solid var(--dark-gray);
    }
  }
}
