.download-csv {
  margin: 5px 0px;
  border-radius: 0.5em;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  font-family: Open Sans;
  font-size: 1rem;
  text-align: left;
  background-color: #ca1e56;
  border: 1px solid #ca1e56;
  color: #fff;
  text-decoration: none;
  width: fit-content;
}