/*==========  Mobile First Method  ==========*/
.event-info {
	padding: 0.5em 0em;

	h4 {
		font-size: 1em;
		line-height: 1.2em;
		color: #CA1E56;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.event-info {
		padding: 0.5em 0em;
	
		h4 {
			font-size: 1em;
			line-height: 1.2em;
			color: #CA1E56;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.event-info {
		padding: 0.7em 0em;
		
		h4 {
			font-size: 1.2em;
			line-height: 1.8em;
			color: #CA1E56;
		}
	}
}