p {
  &.flash {
    position: absolute;
    margin: 0 auto;
    padding: 0.5em 1.5em;
    color: #ddd;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translate(-50%, 1em);
    width: auto;
    cursor: pointer;
    text-align: center;
  }

  &.alert {
    background-color: #C00;
  }

  &.notice {
    background-color: #4c9ad2;
  }
}
