.hackerspace-collapse {
  .hackerspace-nav {
    flex-direction: row;
    justify-content: space-evenly;

    li {
      list-style: outside none none;
      display: block;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;

      a {
        color: #000000;
        margin: 0.5em 1.75em;
        padding: 0.5em 0;
        border-radius: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 2px;
        transition: all 0.4s ease;
        text-decoration: none;

        &:hover {
          border-radius: 0;
          border-bottom-style: solid;
        }

        &:nth-child(odd):hover {
          color: #ca1e56;
          border-bottom-color: #ca1e56;
        }

        &:nth-child(even):hover {
          color: #4c9ad2;
          border-bottom-color: #4c9ad2;
        }
      }
    }
  }


  @media only screen and (max-width: 999px) {
    &:not(.show) {
      display: none;
    }

    display: block;

    .hackerspace-nav {
      flex-direction: column;

      li {
        margin: 10px 5px;
        text-align: center;
      }
    }
  }

  @media only screen and (min-width: 1000px) {
    display: contents;
  }
}
