/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-device-width: 320px) and (min-width : 320px) {
  h2.index-header {
    padding: .5em;
  }

  h3.index-header {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-device-width: 480px) and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  h3.index-header {
    display: block;
    font-size: 1.5em;
    padding: 1em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
