section.markdown {
  img {
    max-width: 100% !important;
    width: auto;
  }

  ul,
  li {
    list-style: circle;
    padding-left: 0.5em;
  }

  .sectionHeading {
    color: var(--secondary);
  }

  h1 {
    font-size: 1.5em;
    color: var(--primary);
  }

  h2 {
    font-size: 1.4em;
    color: var(--primary);
  }

  h3 {
    font-size: 1.3em;
    color: var(--primary);
  }

  h4 {
    font-size: 1.2em;
    color: var(--primary);
  }

  h5 {
    font-size: 1.1em;
    color: var(--primary);
  }

  h6 {
    font-size: 1em;
    color: var(--primary);
  }

  p {
    padding: 0.5em 0.25em;
  }
}
