table.projects-table {
  box-sizing: border-box;
  margin-top: 2em;
  border-collapse: collapse;

  width: 100%;
  border: 1px solid var(--primary);
  box-sizing: border-box;

  th, td {
    border: 1px solid var(--primary);
    padding: 0.25em 1em;
    box-sizing: border-box;
  }

  th {
    background-color: var(--primary);
    color: #fff;
  }

  a {
    text-decoration: none;
    color: var(--secondary);
  }
}
