/* Main Menu */

#main-menu {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-bottom: 3em solid #23282D;
}

#main-menu section {
	display: flex;
	align-items: center;
}

#main-menu section a {
	text-decoration: none;
}

#main-menu section #logo {
	display: flex;
	align-items: center;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

#main-menu section #logo img {
	max-width: 300px;
	width: auto;
	height: auto;
}

#main-menu section #logo {
	font-size: 3em;
	font-weight: 700;
	color: #424242;
}

#main-menu section article {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: stretch;
}

#main-menu section article a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #424242;
	font-size: 2em;
	margin: 0.5em 0.5em;
	padding: 0.5em 0;
	border-radius: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 2px;
	transition: all 0.4s ease;
}

#main-menu section article a:hover {
	border-radius: 0;
	border-bottom-style: solid;
}

#main-menu section article a:nth-child(odd):hover {
	border-bottom-color: #ca1e56;
}

#main-menu section article a:nth-child(even):hover {
	border-bottom-color: #4c9ad2;
}

#main-menu a:nth-child(odd):hover {
	color: #ca1e56;
}

#main-menu a:nth-child(even):hover {
	color: #4c9ad2;
}

#main-menu aside {
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: center;
}

#main-menu aside a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #424242;
	font-size: 1.15em;
	padding: 0.25em 0.5em;
	margin: 0 1em;
	transition: all 0.5s ease;
}

#main-menu aside a:hover {
	transform: scale(1.15, 1.15);
}

@media only screen and (max-width: 1200px) {
	#main-menu section {
		flex-direction: column;
		align-items: flex-start;
	}

	#main-menu section #logo img {
		max-width: 100px;
	}

	#main-menu section #logo {
		font-size: 2em;
	}
}

@media only screen and (max-width: 900px) {
	#main-menu section {
		flex-direction: column;
		align-items: flex-start;
	}

	#main-menu section #logo img {
		max-width: 100px;
	}

	#main-menu section #logo {
		font-size: 2em;
	}

	#main-menu section article a {
		font-size: 1.5em;
	}

	#main-menu aside a {
		font-size: 1em;
	}
}
