.top-bar {
  box-shadow: -8px 6px 30px -4px rgba(0, 0, 0, 0.55);

  .navbar-brand {
    margin-right: 0;

    img {
      max-width: 200px;
      margin: 0;
      align-self: center;
    }
  }

  .nav-dropdown {
    display: none;
    position: absolute;
    top: 4.4em;
    right: 1em;
    min-width: 6em;
    box-shadow: 0em 0.5em 1em 0em rgba(0, 0, 0, 0.2);
    background-color: #ffffff;

    a {
      color: black;
      padding: 0.75em 1em;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    a:hover {
      background-color: #bb0c45;
      color: #ffffff;
    }
  }

  aside:hover>.nav-dropdown, .nav-dropdown:hover {
    display: block;
  }
}
