.treasure_container {
  display: flex;
  flex-direction: row;
}
.treasure_questions_container {
  width: 100%;
  min-height:100vh;
  display: flex;
  padding-top: 90px;
  justify-content: center;
  background: url("/assets/hunt_new_bg.png") top left no-repeat;

  background-size: cover;

  @media screen and (max-width: 800px) {
    display: none;
  }

  p {
    color: white;
    position: absolute;
    align-self: flex-end;
  }

}
.treasure_questions {
  transform: rotate(3deg);
  height: 630px;
  width:900px;
  display: flex;
  flex-direction: column;
  background: url("/assets/hunt-scroll.png") top left no-repeat;
  background-size: contain;
  
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
  line-height: 1.7;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 40px;
  padding-bottom: 65px;

  h2 {
    font-size: 1.2rem;
    margin-left: 55px;
    margin-top: 55px;
  }
  div {
    margin-top: 30px;
    margin-left: 57px;
    max-width: 35%;
  }


}
.treasure_hunt section.header {
  display: block;
  background-color: #4c9ad2;
  padding: 5rem;
  align-content: center;
  h2 {
    color: #ffffff;
    text-align: center;
    line-height: 1.2em;
    font-size: 2em;

    .treasure_title_instructions {
      display: none;
    }
  }
}
.treasure_answers {
  position: relative;
  background: white;
  display: border-box;
  padding: 50px;
  width: 20%;
  border-left:1px solid #777;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
  p {
    margin-top: 30px;
  }

  label {
    display: block;
  }
  input[type="text"] {
    width: 100%;
    display: block;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #666;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);

    &:focus {
      outline: 0;
    }
  }
  input[type="submit"] {
    border: 0;
    background: white;
    text-decoration: underline;
    width: 100%;
    text-align: right;
    cursor: pointer;
  }
  .treasure_answered {
    margin: 5px 0 15px 0;
  }

  .nav-button {
    border-radius: 6px;
    color: #fff;
    font-size: 1.2em;
    box-sizing: border-box;
    padding: 12px;
    background-color: #c61f55;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    float: right;
  }

  .treasure_instructions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    display: border-box;
    padding: 50px;
    background: white;

    p {
      margin-top: 20px;
    }
  }
}
