%table#regional-challenge-entries-table
  %thead
    %th Challenges
    - @region_names.each do |region_name|
      %th= region_name
    %th Total Entries
  %tbody
    - @challenge_names.each do |challenge_name|
      %tr
        %td= challenge_name
        - @region_names.each do |region_name|
          %td= @region_counts[challenge_name][region_name]
        %td= @region_counts[challenge_name][:total_entries]
