<main class="team_page">
  <h2>Region Management</h2>

  <%= link_to 'Create new Region', new_admin_competition_region_path %>

  <%= render "region_modal", locals: { region: @root_region} %>

  <% @sub_regions.each do |region| %>
    <%= render 'region_modal', locals: { region: region } %>
  <% end %>
</main>
<p><%= link_to 'Back to Competition', admin_competition_path(@competition) %></p>
