<h2>Region Management</h2>

<%= link_to 'Create new Region', new_admin_region_path %>

<%= render "region_modal", locals: { region: @region} %>

<% @region.sub_regions.each do |region| %>
  <%= render 'region_modal', locals: { region: region } %>
<% end %>
