// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events_page {
	padding: 2em 5em;
	//background-size: cover;
	//background-position: center center;
	//background-image: url("/assets/sydneyback.jpg");
}

.events_page h2 {
	color: #4c9ad2;
	font-size: 2em;
}

.events_page h3 {
	font-size: 1.5em;
}

.events_page > section > h3,  .events_page > h3{
	margin-top: 1em;
	margin-left: 1em;
	color: #ca1e56;
}

.events_page section.later {
	padding: 1.5em 1.5em;
}

.events_page > section {
	padding: 2em 2em;
	//background-color: rgba(255, 255, 255, 0.75);
}

.single-event > section > section {
	display: flex;
}

.single-event > section > section > article {
	box-sizing: border-box;
	width: 50%;
	padding-right: 2em;
}

.single-event > section > section > aside {
	box-sizing: border-box;
	width: 50%;
	padding-left: 2em;
}

.single-event .info {
	display: block;
}

.single-event > section > section > aside > a {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 1em;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.single-event > section > section > aside iframe {
	width: 100%;
}

.single-event > section > section > aside figure {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 1em 2em;
	border: 1px solid #dde4e6;
	transition: all 0.4s ease;
	cursor: pointer;
}

.single-event > section > section > aside figure:hover {
	background-color: #fff;
}

.single-event > section > section > aside figure img {
	display: inline-block;
	width: auto !important;
	height: auto !important;
	max-height: 125px;
}

.single-event .sponsors {
	display: flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
}

.single-event .sponsors figure {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 1em 2em;
	border: 1px solid #dde4e6;
	transition: all 0.4s ease;
	cursor: pointer;
	width: 30%;
	box-sizing: border-box;
	height: calc(125px + 2em);
	justify-content: center;
}

.single-event .sponsors figure:hover {
	background-color: #fff;
}

.single-event .sponsors figure img {
	display: inline-block;
	width: auto !important;
	height: auto !important;
	max-height: 125px;
	max-width: 100%;
}


.events_page section.info p {
	margin-top: 0.5em;
	font-size: 1.25em;
}

.events_page section.events {
	padding: 2em 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.events_page section.events article {
	font-size: 1.5em;
	text-align: center;
	line-height: 1.2em;
	width: 250px;
	margin: 0.5em 0.5em;
	background-image: url("/assets/cta.png");
	background-size: cover;
	background-position: center center;
	display: flex;
	align-content: stretch;
	align-items: stretch;
}

.events_page section.events article div {
	padding: 2.5em 0.5em;
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}

.events_page section.events a:nth-of-type(3n+0) div {
	background-color: rgba(202, 30, 86, 0.5);
	border-bottom: 1em solid #ca1e56;
}

.events_page section.events a:nth-of-type(3n+1) div {
	background-color: rgba(76, 154, 210, 0.5);
	border-bottom: 1em solid #4c9ad2;
}

.events_page section.events a:nth-of-type(3n+2) div
{
	background-color: rgba(113, 113, 113, 0.5);
    border-bottom: 1em solid #717171;
}

.events_page section.events article h3, .events_page section.events article h4 {
	color: #ddd;
	margin-bottom: 0.5em;
}

.events_page section.events a {
	text-decoration: none;
}

.events_page section.events p {
	color: #ddd;
}

.events_page section.events.connections p {
	display: none;
}

.events_page section.events article div:hover {
	transform: scale(1.1, 1.1);
}

.event-info {
	padding: 0.5em;
}

@media only screen and (max-width: 900px) {

	.events_page {
		padding: 1em 1em;
	}

	.events_page section.events article {
		margin: .5em .5em;
	}

	.events_page > section {
		padding: .5em .5em;
	}
}
