// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.register {
	padding: 2em 5em;
}

.register h2 {
	color: #ca1e56;
	font-size: 2em;
}

.register > section {
	display: flex;
}

.register form {
	box-sizing: border-box;
	padding: 2em 2em;
}

.register article {
	box-sizing: border-box;
	padding: 2em 2em;
	
}

.register article h3 {
	margin-top: 1em;
}

.register article a.update-button {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.25em 1.25em;
    background-color: #4c9ad2;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-top:.5em;
    display: inline-block;
    width: auto;
    text-align: center;
}

.register form > div.field {
	display: flex;
	padding: 0.5em 0em;
	align-items: center;
}

.register form > div > div em {
	font-size: 0.85em;
}

.register form > div.field > label, .register form > div > div {
	box-sizing: border-box;
	width: 50%;
	padding-right: 1em;
	text-align: right;
	font-size: 1.15em;
}

.register form > div.field > input, .register form > div.field > select {
	box-sizing: border-box;
	width: 50%;
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
}

.register form > div.actions {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.register div.actions {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.register div.actions a {
	box-sizing: border-box;
	font-size: 1.25em;
	padding: 0.25em 1.25em;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #4c9ad2;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;;
}

.register form > div.actions input {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
}