// Place all the styles related to the scorecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main.scorecard {
	padding: 1em;
}

main.scorecard h2 {
	color: #ca1e56;
}

main.scorecard h3 {
	color: #4c9ad2;
}

.scorecard form > div.field {
	display: flex;
	padding: 0.5em 0em;
	align-items: center;
}

.scorecard form > div.field > label, .scorecard form > div > div {
	box-sizing: border-box;
	width: 50%;
	padding-right: 1em;
	text-align: right;
	font-size: 1em;
	font-weight: 700;
}

.scorecard form > div > div em {
	font-size: 0.85em;
	font-weight: 400;
}

.scorecard form > div.field > input, .scorecard form > div.field > select {
	box-sizing: border-box;
	width: 50%;
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
}

.scorecard form > div.field div.field {
	display: flex;
	padding: 0.5em 0em;
	align-items: center;
}

.scorecard form > div.field div.field {
	text-align: left !important;
}


.scorecard form > div.field div.field div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	box-sizing: border-box;
}

.scorecard form > div.field div.field input {
	box-sizing: border-box;
	width: 10%;
	padding-right:1em;
}

.scorecard form > div.actions {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.scorecard form > div.actions input {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
}

.scorecard form > div.field > div.field_with_errors > input {
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
	width: 100%;
	border: 1px solid #C00;
}

.scorecard form #error_explanation h2 {
	font-size: 1.25em;
	color: #C00;
}

.scorecard form #error_explanation li {
	color: #C00;
	margin-left: 1.5em;
}

.score-display {
	display: flex;
	width: 100%;
}

.score-display p {
	box-sizing: border-box;
	width: 50%;
	text-align: center;
	font-weight: 700;
	padding: 0.25em 0;
}

.score-display p:nth-child(2) {
	font-size: 1.5em;
}
