// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_index {
	padding: 2em 5em;
}

.project_index h2 {
	color: #4c9ad2;
	font-size: 2em;
}

.project_index h3 {
	font-size: 1.5em;
	padding: 1em;
}

.project_index p {
	padding: 0em 2.25em;
}

.project_index section.later {
	padding: 1.5em 1.5em;
}

.team_page {
	padding: 2em 5em;
}

.team_page h2 {
	color: #4c9ad2;
	font-size: 2em;
}

.team_page h3 {
	font-size: 1.5em;
	padding: 1em;
}

.team_page section {
	padding: 0.25em 1.5em;
}

.team_page section.markdown img {
	width: auto !important;
	height: auto !important;
}

.team_page section.markdown ul  {
	list-style: circle;
	padding-left: 0.5em;
}

.team_page section.markdown li  {
	list-style: circle;
	padding-left: 0.5em;
}

.team_page section.markdown .sectionHeading {
	color: #4c9ad2;
}

.team_page section.markdown h1 {
	font-size: 1.5em;
	color: #ca1e56;
}

.team_page section.markdown h2 {
	font-size: 1.4em;
	color: #ca1e56;
}

.team_page section.markdown h3 {
	font-size: 1.3em;
	color: #ca1e56;
}

.team_page section.markdown h4 {
	font-size: 1.2em;
	color: #ca1e56;
}

.team_page section.markdown h5 {
	font-size: 1.1em;
	color: #ca1e56;
}

.team_page section.markdown h6 {
	font-size: 1em;
	color: #ca1e56;
}

.team_page aside.fav_judge {
	display: flex;
	width: 50%;
	justify-content: flex-end;
}

.team_page aside.fav_judge p {
	width: 50%;
	box-sizing: border-box;
	padding: 0.5em 0.5em;
}

.team_page aside.fav_judge a {
	box-sizing: border-box;
	font-size: 1.0em;
	padding: 0em 0em;
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 0em;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.team_page aside.fav_judge p:nth-child(2) a {
    background-color: #4c9ad2;
}

.team_page aside {
	float:right;
}

.team_page aside a {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 1em;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.team_page form > div.field {
	display: flex;
	padding: 0.5em 0em;
	align-items: center;
}

.team_page form > div.field > label, .team_page form > div > div {
	box-sizing: border-box;
	width: 50%;
	padding-right: 1em;
	text-align: right;
	font-size: 1.15em;
}

.team_page form > div > div em {
	font-size: 0.85em;
}

.team_page form > div.field > input, .registration form > div.field > select {
	box-sizing: border-box;
	width: 50%;
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
}

.team_page form textarea {
	width: 50%;
	height: 5em;
}

.team_page form select {
	width: 50%;
	padding: 0.5em;
}

.team_page form > div.field div.field {
	display: flex;
	padding: 0.5em 0em;
	align-items: center;
}

.team_page form > div.field div.field {
	text-align: left !important;
}

.team_page form > div.actions {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.team_page form > div.actions input {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
}

.team_page form > div.field > div.field_with_errors > input {
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
	width: 100%;
	border: 1px solid #C00;
}

.team_page #hiddendescription {
	box-sizing: border-box;
	width: 50%;
	padding-left: 1em;
	font-size: 0.5em;
	padding: 0.5em;
	display: none;
}


.project_index table {
	box-sizing: border-box;
	margin-top: 2em;
	margin-left: 2em;
	padding: 2em 2em;
	border-collapse: collapse
}

.project_index table .dataseturl {
	font-size: small;
}

.project_index table {
	width: 100%;
}

.project_index table, .project_index th, .project_index td {
	border: 1px solid #ca1e56;
	padding: 0.25em 1em;
	box-sizing: border-box;
}

.project_index tr td {
	width: 33.3%;
}


.project_index th {
	background-color: #ca1e56;
	color: #ddd;
}

.project_index table a {
	text-decoration: none;
	color:#4c9ad2;
}

.project_index aside {
	float:right;
}

.project_index aside a {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 1em;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}