// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto');

img {
  width: 80px;
  height: 80px;
}


.registration {
	padding: 2em 5em;
}

.registration h2 {
	color: #ca1e56;
	font-size: 2em;
}

.registration > section {
	display: flex;
}

.registration form {
	box-sizing: border-box;
	width: 60%;
	padding: 2em 2em;
	
	border-right: 5px solid #4c9ad2;
}

.registration.single-col form {
	border-right: none;
}

.registration form > div.field {
	display: flex;
	padding: 0.5em 0em;
	align-items: center;
}

.registration form > div.field > label, .registration form > div > div {
	box-sizing: border-box;
	width: 50%;
	padding-right: 1em;
	text-align: right;
	font-size: 1.15em;
}

.registration form > div > div em {
	font-size: 0.85em;
}

.registration form > div.field > input {
	box-sizing: border-box;
	width: 50%;
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
}

.registration form > div.actions {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

.registration form > div.actions input {
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ca1e56;
    color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
}

.registration form > div.field > div.field_with_errors > input {
	padding-left: 1em;
	font-size: 1em;
	padding: 0.5em;
	display: flex;
	width: 100%;
	border: 1px solid #C00;
}

.registration form #error_explanation h2 {
	font-size: 1.25em;
	color: #C00;
}

.registration form #error_explanation li {
	color: #C00;
	margin-left: 1.5em;
}

.registration aside {
	box-sizing: border-box;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto, arial, sans-serif;
}

.registration aside a {
	text-decoration: none;
}

.registration #signgoogle {
	height: 50px;
	width: 240px;
	background-color: #4285f4;
	border: none;
	color: #fff;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	transition: background-color .218s,border-color .218s,box-shadow .218s;
}

.registration #signgoogle:hover {
	-webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.registration #signgoogle .wrapper {
	height: 100%;
	width: 100%;
	border: 1px solid transparent;
}

.registration #signgoogle .wrapper .icon {
	padding: 15px;
	background-color: #fff;
	border-radius: 1px;
	float: left;
}

.registration #signgoogle .wrapper .icon .icon-svg {
	width: 18px;
	height: 18px;
}

.registration #signgoogle .wrapper .message {
	font-size: 16px;
	line-height: 48px;
	font-weight: 500;
	letter-spacing: .21px;
	margin-left: 6px;
	margin-right: 6px;
	vertical-align: top;
	text-decoration: none !important;
}

.registration.signup #signgoogle .wrapper .message p:last-of-type {
	display: none;
}

.registration.signin #signgoogle .wrapper .message p:first-of-type {
	display: none;
}