<h2>User Management</h2>

<% @users.each do |user| %>
  <h3><%= user.full_name %></h3>
  <%= user.email %></br>
  <%= link_to 'See User', admin_user_path(user) %></br>
<% end %>

<%= link_to 'Create New User',  new_admin_user_path %>
