<h2>User Management</h2>

<% @users.each do |user| %>
  <%= render 'admin/shared/user_contact', locals: { user: user } %>
  <%= link_to 'See User', admin_user_path(user) %></br>
<% end %>

<%= link_to 'Create New User',  new_admin_user_path %>
