- type = locals[:type]
- criteria = locals[:criteria]
- if criteria.present?
  - criteria.each do |criterion|
    %h4= criterion.name
    %p= criterion.description
    %p= link_to 'Update Criteria', edit_admin_competition_criterion_path(@competition, criterion)
- else
  %p No #{type} Criteria for this Competition recorded.
