<main class="team_page">
  <section>
    <h2>
      <%= "New Criterion for #{@competition.name}" %>
    </h2>
    <%= render 'form' %>
    <p>
      <%= link_to 'Back to Competition Criteria', admin_competition_criteria_path(@competition) %>
    </p>
  </section>
</main>
