<h1><%= yield :title %></h1>

<p>Browse challenges to solve for GovHack</p>

<hr/>

<h3>Filter By Theme</h3>

<ul>
  <% @themes.map do |theme| %>
    <li><%= link_to theme, challenges_path %></li>
  <% end %>  
</ul>

<h3>Filter By State Elegibility</h3>

<div>
  <% @eligible_locations.map do |location| %>
    <%= link_to location, challenges_path %>
  <% end %>  
</div>