<section class="side_menu">
  <h1><%= yield :title %></h1>
 
  <p>Browse challenges to solve for GovHack</p>

  <hr/>

  <h3>Filter By State Elegibility</h3>

  <div class="tags">
    <% @eligible_locations.map do |location| %>
      <%= link_to location[:label], region_path(location[:path]) %>
    <% end %>  
  </div>
</section>