<main class="challenge_page">
  <h2><%= @challenge.name %> Entries</h2>
  <% unless @judges.present? %>
    <h3>No judges assigned to this challenge.</h3>
  <% end %>
  <% if @entries.present? %>
    <%= render 'judge_entry_table' %>
  <% else %>
    <p>No entries for this challenge currently</p>
  <% end %>
</main>
<p><%= link_to 'Back to Challenge', admin_region_challenge_path(@region, @challenge) %></p>
