<main class="challenge_page">
  <h2><%= @challenge.name %> Entries</h2>

  <% if @entries.present? %>
    <%= render 'judge_entry_table' %>
  <% else %>
    <p>No entries for this challenge currently</p>
  <% end %>

  <%= link_to 'Back to Challenge', admin_region_challenge_path(@challenge.region, @challenge) %>
</main>
