%main.challenge_page
  %h2
    = @challenge.name
    Entries
  - unless @judges.present?
    %h3 No judges assigned to this challenge.
  - if @entries.present?
    %h4 Note:
    %p
      In order for a team's entry to be marked 'Eligible',
      the project needs to have entered...
    %ul
      %li
        %em A data story
      %li
        %em A video url
      %li
        %em A source code url
    %p Expect most teams to show 'Not Eligible' until towards the end of the Competition.
    = render 'judge_entry_table'
  - else
    %p No entries for this challenge currently
%p= link_to 'Back to Challenge', admin_region_challenge_path(@region, @challenge)
