- user = locals[:user]
%div.contacts
  %strong
    Full name: #{user.full_name}
  %br/
  - if user.preferred_name.present?
    Preferred name: #{user.preferred_name}
    %br/
  Email: #{user.email}
  %br/
