<main class="team_page">
  <h2>Competitions</h2>

  <% @competitions.each do |competition| %>
    <h3><%= competition.year %></h3>
    <p><%= link_to 'Go to Competition', admin_competition_path(competition) %></p>
  <% end %>

  <p><%= link_to 'Back to Account Management', manage_account_path %></p>
</main>
