<footer>
  <%= image_tag  "logo-footer.svg", :class => "footerLogoSize" %>
  <p>
    <em>GovHack</em>
    and the
    <em>GovHack Logo</em>
    are registered trademarks of GovHack Australia Limited.
  </p>
  <p>
    The
    <em>GovHack Hackerspace</em>
    is licensed under the AGPL3. Its source code is available
    <a href="https://github.com/govhackaustralia/hackerspace3" target="_blank">on GitHub</a>
  </p>
  <p>
    <%= link_to 'Terms and Conditions', terms_and_conditions_path %> |
    <%= link_to 'Code of Conduct', 'https://govhack.org/howtocompete/code-of-conduct/' %>
  </p>
</footer>
