%footer
  :css
    .footerLogoSize {
      width: 100px;
      height: 80px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  =image_tag  "logo-footer.svg", :class => "footerLogoSize"
      
  %p
    %em GovHack
    and the
    %em GovHack Logo
    are registered trademarks of GovHack Australia Limited.
