<footer>
  <svg style="height: 80px; margin: 12px; max-width: calc(100% - 25px);" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 550 53">
  <defs>
      <style>.cls-1 {
              fill: url(#linear-gradient);
          }

          .cls-2 {
              fill: url(#linear-gradient-2);
          }

          .cls-3 {
              fill: #3298cb;
          }

          .cls-4 {
              fill: #c81e55;
          }

          .cls-5 {
              fill: #717171;
          }</style>
      <linearGradient id="linear-gradient" x1="300" y1="39.42" x2="550" y2="39.42"
                      gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#c81e55"/>
          <stop offset="1" stop-color="#fff"/>
      </linearGradient>
      <linearGradient id="linear-gradient-2" y1="39.42" x2="250" y2="39.42" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#fff"/>
          <stop offset="1" stop-color="#3298cb"/>
      </linearGradient>
  </defs>
  <rect class="cls-1" x="300" y="39.09" width="250" height="0.66"/>
  <rect class="cls-2" y="39.09" width="250" height="0.66"/>
  <path class="cls-3"
        d="M270.28,65.16a4.54,4.54,0,0,1-3.35,1.32c-3.18,0-5.13-2.58-5.13-5.94,0-3.66,2.37-6.1,5.61-6.1a6,6,0,0,1,5,2.63l-2.16,1.31a3,3,0,0,0-2.65-1.61c-2.16,0-3,1.79-3,3.69a4.24,4.24,0,0,0,.9,2.9,3,3,0,0,0,3.65.39,2.06,2.06,0,0,0,.92-1.69h-2.55V59.9h5v6.32h-2.23Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-3"
        d="M282.57,62a4.52,4.52,0,0,1-9,0c0-2.58,1.63-4.63,4.85-4.45A4.22,4.22,0,0,1,282.57,62Zm-6.13-1.66A3.06,3.06,0,0,0,276,62c0,1.34.65,2.52,2,2.52s2-1.08,2-2.4a2.85,2.85,0,0,0-.69-2.11,1.8,1.8,0,0,0-1.45-.47A1.67,1.67,0,0,0,276.44,60.34Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-3"
        d="M282.6,57.81h2.61a52.25,52.25,0,0,1,1.48,6.13c.34-1.87.39-2.08.89-4.06l.52-2.06h2.55l-2.73,8.42h-2.6Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-4" d="M301.24,54.84V66.23h-2.85V61.37h-4.16v4.85h-2.87V54.84h2.87V59h4.16V54.84Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-4"
        d="M302.86,60.19a2.34,2.34,0,0,1,.89-1.87,4.33,4.33,0,0,1,2.76-.74c1,0,3.53.24,3.53,2.42v4.9c0,.9,0,1,.24,1.32h-2.44v-.77a4,4,0,0,1-2.58,1,2.56,2.56,0,0,1-2.76-2.56,2.72,2.72,0,0,1,1.77-2.42,21.65,21.65,0,0,1,3.32-.77v-.45c0-.39-.06-1-1-1-1.1,0-1.24.68-1.31,1ZM306,62.73c-.42.16-1.06.4-1.06,1a.9.9,0,0,0,.94.85,1.63,1.63,0,0,0,.85-.27c.82-.52.85-1.29.87-2.16Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-4"
        d="M319.08,64.24a4.8,4.8,0,0,1-1.32,1.5,4.19,4.19,0,0,1-2.42.76,4.07,4.07,0,0,1-4.18-4.4c0-2.45,1.42-4.52,4.23-4.52a4,4,0,0,1,3.6,2l-1.84,1a2.05,2.05,0,0,0-.71-.89,1.65,1.65,0,0,0-.94-.29c-1.34,0-1.79,1.53-1.79,2.55s.55,2.52,1.87,2.52a1.66,1.66,0,0,0,1.26-.58,1.77,1.77,0,0,0,.37-.68Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-4"
        d="M319.78,54.84h2.44v5.85l2.73-2.89h3l-2.9,3,3.27,5.42h-2.87l-2.16-3.63-1.06,1v2.63h-2.42Z"
        transform="translate(-20 -13.5)"/>
  <polygon class="cls-5" points="275 0 291.57 6.44 308.14 12.87 275 12.87 241.86 12.87 258.43 6.44 275 0"/>
  <rect class="cls-5" x="241.36" y="36.66" width="67.27" height="3.46"/>
  <rect class="cls-5" x="242.89" y="34.45" width="64.23" height="1.52"/>
  <rect class="cls-5" x="242.89" y="13.56" width="64.23" height="1.52"/>
  <path class="cls-3"
        d="M266.72,31.87a1.55,1.55,0,1,0-1.55-1.55A1.55,1.55,0,0,0,266.72,31.87Zm2.59.33a3.69,3.69,0,0,0-1.39-.09s-.57.93-.87,1.38a.38.38,0,0,1-.66,0c-.31-.45-.87-1.38-.87-1.38a3.69,3.69,0,0,0-1.39.09.7.7,0,0,0-.41.65c0,1.75.1,5.33.17,6a.52.52,0,0,0,.86.42c0-.26.3,7.42.39,8a.52.52,0,0,0,.57.49h2a.52.52,0,0,0,.57-.49c.09-.59.39-8.27.39-8a.52.52,0,0,0,.86-.42c.07-.63.17-4.21.17-6A.7.7,0,0,0,269.31,32.19Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-4"
        d="M274.8,31.87a1.55,1.55,0,1,0-1.55-1.55A1.55,1.55,0,0,0,274.8,31.87Zm2.59.33A3.69,3.69,0,0,0,276,32.1s-.57.93-.87,1.38a.38.38,0,0,1-.66,0c-.31-.45-.87-1.38-.87-1.38a3.69,3.69,0,0,0-1.39.09.7.7,0,0,0-.41.65c0,1.75.1,5.33.17,6a.52.52,0,0,0,.86.42c0-.26.3,7.42.39,8a.52.52,0,0,0,.57.49h2a.52.52,0,0,0,.57-.49c.09-.59.39-8.27.39-8a.52.52,0,0,0,.86-.42c.07-.63.17-4.21.17-6A.7.7,0,0,0,277.39,32.19Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-3"
        d="M282.88,31.87a1.55,1.55,0,1,0-1.55-1.55A1.55,1.55,0,0,0,282.88,31.87Zm2.59.33a3.69,3.69,0,0,0-1.39-.09s-.57.93-.87,1.38a.38.38,0,0,1-.66,0c-.31-.45-.87-1.38-.87-1.38a3.69,3.69,0,0,0-1.39.09.7.7,0,0,0-.41.65c0,1.75.1,5.33.17,6a.52.52,0,0,0,.86.42c0-.26.3,7.42.39,8a.52.52,0,0,0,.57.49h2a.52.52,0,0,0,.57-.49c.09-.59.39-8.27.39-8a.52.52,0,0,0,.86-.42c.07-.63.17-4.21.17-6A.7.7,0,0,0,285.47,32.19Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-4"
        d="M291,31.87a1.55,1.55,0,1,0-1.55-1.55A1.55,1.55,0,0,0,291,31.87Zm2.59.33a3.69,3.69,0,0,0-1.39-.09s-.57.93-.87,1.38a.38.38,0,0,1-.66,0c-.31-.45-.87-1.38-.87-1.38a3.69,3.69,0,0,0-1.39.09.7.7,0,0,0-.41.65c0,1.75.1,5.33.17,6a.52.52,0,0,0,.86.42c0-.26.3,7.42.39,8a.52.52,0,0,0,.57.49h2a.52.52,0,0,0,.57-.49c.09-.59.39-8.27.39-8a.52.52,0,0,0,.86-.42c.07-.63.17-4.21.17-6A.7.7,0,0,0,293.55,32.19Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-3"
        d="M299,31.87a1.55,1.55,0,1,0-1.55-1.55A1.55,1.55,0,0,0,299,31.87Zm2.59.33a3.69,3.69,0,0,0-1.39-.09s-.57.93-.87,1.38a.38.38,0,0,1-.66,0c-.31-.45-.87-1.38-.87-1.38a3.69,3.69,0,0,0-1.39.09.7.7,0,0,0-.41.65c0,1.75.1,5.33.17,6a.52.52,0,0,0,.86.42c0-.26.3,7.42.39,8a.52.52,0,0,0,.57.49h2a.52.52,0,0,0,.57-.49c.09-.59.39-8.27.39-8a.52.52,0,0,0,.86-.42c.07-.63.17-4.21.17-6A.7.7,0,0,0,301.63,32.19Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-4"
        d="M307.12,31.87a1.55,1.55,0,1,0-1.55-1.55A1.55,1.55,0,0,0,307.12,31.87Zm2.59.33a3.7,3.7,0,0,0-1.39-.09s-.57.93-.87,1.38a.38.38,0,0,1-.66,0c-.31-.45-.87-1.38-.87-1.38a3.69,3.69,0,0,0-1.39.09.7.7,0,0,0-.41.65c0,1.75.1,5.33.17,6a.52.52,0,0,0,.86.42c0-.26.3,7.42.39,8a.52.52,0,0,0,.57.49h2a.52.52,0,0,0,.57-.49c.09-.59.39-8.27.39-8a.52.52,0,0,0,.86-.42c.07-.63.17-4.21.17-6A.7.7,0,0,0,309.71,32.19Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-3"
        d="M315.2,31.87a1.55,1.55,0,1,0-1.55-1.55A1.55,1.55,0,0,0,315.2,31.87Zm2.59.33a3.69,3.69,0,0,0-1.39-.09s-.57.93-.87,1.38a.38.38,0,0,1-.66,0c-.31-.45-.87-1.38-.87-1.38a3.69,3.69,0,0,0-1.39.09.7.7,0,0,0-.41.65c0,1.75.1,5.33.17,6a.52.52,0,0,0,.86.42c0-.26.3,7.42.39,8a.52.52,0,0,0,.57.49h2a.52.52,0,0,0,.57-.49c.09-.59.39-8.27.39-8a.52.52,0,0,0,.86-.42c.07-.63.17-4.21.17-6A.7.7,0,0,0,317.79,32.19Z"
        transform="translate(-20 -13.5)"/>
  <path class="cls-4"
        d="M323.28,31.87a1.55,1.55,0,1,0-1.55-1.55A1.55,1.55,0,0,0,323.28,31.87Zm2.59.33a3.69,3.69,0,0,0-1.39-.09s-.57.93-.87,1.38a.38.38,0,0,1-.66,0c-.31-.45-.87-1.38-.87-1.38a3.69,3.69,0,0,0-1.39.09.7.7,0,0,0-.41.65c0,1.75.1,5.33.17,6a.52.52,0,0,0,.86.42c0-.26.3,7.42.39,8a.52.52,0,0,0,.57.49h2a.52.52,0,0,0,.57-.49c.09-.59.39-8.27.39-8a.52.52,0,0,0,.86-.42c.07-.63.17-4.21.17-6A.7.7,0,0,0,325.87,32.19Z"
        transform="translate(-20 -13.5)"/>
</svg>

<p><em>GovHack</em> and the <em>GovHack Logo</em> are registered trademarks of GovHack Australia Limited.</p>

</footer>
