!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      img {
        width: 350px;
      }
  %body
    = yield
    %p The Govhack Management Team
    %p
      = image_tag("bannerlogo.png", alt: "GovHack Logo Banner")
